@import '../../styles/variables';
@import '../../styles/Fonts';

.Membership {
    // border: 1px solid red;
    padding-top: 8rem;
    max-width: 1000px;
    height: fit-content;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width:1000px) {
        padding-top: 7rem;
    }

    @media screen and (max-width: 800px) {
        padding-top: 5rem;
    }

    @media screen and (max-width: 431px) {
        width: 90%;
    }

    & .Hero {
        width: 100%;
        height: fit-content;
        margin-bottom: 2rem;
        padding-top: 3rem;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        & .heading {
            margin: 1.5rem 0 2rem;
            color: #2a2727;
            letter-spacing: 0.2rem;
            font-size: 6rem;

            font-family: $font-rainlyregularovl7o;

            &::selection {
                color: $---selection-color;
                background: $---selection-bg;
            }
        }

        & p {
            font-size: 1.5rem;
            text-align: justify;
            font-family: 'GFS Neohellenic', sans-serif;

            &::selection {
                color: $---selection-color;
                background: $---selection-bg;
            }
        }

        & .alert {
            font-size: 1.3rem;
            text-align: justify;
            font-family: 'GFS Neohellenic', sans-serif;

            &::selection {
                color: $---selection-color;
                background: $---selection-bg;
            }
        }

        & .contactBtn {
            margin: 15px 0 25px;
            width: 100%;
            height: 60px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            & button {
                transition: 100ms;
                user-select: none;
                height: fit-content;
                border: none;
                border-top: 2px solid #2a2727;
                border-bottom: 2px solid #2a2727;
                border-radius: 5px;
                background-color: transparent;
                padding: 10px 20px;
                width: fit-content;

                color: rgb(102, 56, 38);
                font-size: 1.4rem;
                text-align: center;
                font-family: 'Amarante', cursive;
                letter-spacing: 5px;
                word-spacing: 5px;

                &:active {
                    color: #2a2727;
                    border-top: 2px solid rgba(191, 76, 27, 0.5);
                    border-bottom: 2px solid rgb(191, 76, 27, 0.5);
                    border-radius: 15px;
                    font-size: 1.2rem;
                    letter-spacing: 1px;
                    word-spacing: 1px;
                }
            }
        }

        @media screen and (max-width: 700px) {
            & .heading {
                margin: 1.5rem 0 2rem;
                color: #2a2727;
                font-size: 5rem;
                letter-spacing: 0.2rem;
            }

            & p {
                font-size: 1.4rem;
            }
        }

        @media screen and (max-width: 600px) {
            & .heading {
                font-size: 4rem;
            }
        }

        @media screen and (max-width: 400px) {

            padding-top: 2rem;

            & .heading {
                margin: 1.5rem 0 1.5rem;
                color: #2a2727;
                font-size: 3.4rem;
                letter-spacing: 0.2rem;
            }

            & .alert {
                font-size: 1.2rem;
            }
        }

        @media screen and (max-width: 300px) {
            & .heading {
                font-size: 2.8rem;
            }
        }
    }

    & .division {
        width: 100%;
        height: 20px;
        margin-top: 5px;
        margin-bottom: 15px;
        background: radial-gradient(circle at bottom, #e0d1ce, #e0d1ce 10%, transparent 10%, transparent 20%, #e0d1ce 20%, #e0d1ce 30%, transparent 30%, transparent 40%, #e0d1ce 40%, #e0d1ce 50%, transparent 50%, transparent 60%, #e0d1ce 60%, #e0d1ce 70%, transparent 70%, transparent 80%, #e0d1ce 80%, #e0d1ce 90%, transparent 90%);
        background-size: 2em 2em;
        background-color: transparent;
        opacity: 1
    }

    & .Dojo {
        width: 100%;
        height: fit-content;
        margin-bottom: 8rem;
        padding-top: 3rem;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        @media screen and (max-width: 700px) {
            padding-top: 2.5rem;
        }

        @media screen and (max-width: 400px) {
            margin-bottom: 6rem;
            padding-top: 1rem;
        }

        & .dojoNav {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            // border: 1px solid red;

            & .heading {
                width: 100%;
                margin: 1.5rem 0 2rem;
                color: #2a2727;
                font-size: 5rem;
                letter-spacing: 0.2rem;
                font-family: $font-rainlyregularovl7o;
                // border: 1px solid red;

                &::selection {
                    color: $---selection-color;
                    background: $---selection-bg;
                }
            }

            & .searchContainer {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                width: 100%;
                position: absolute;

                & input {
                    height: 50px;
                    padding: 20px;
                    box-sizing: border-box;
                    border: 2px solid #ccb5a7;
                    border-radius: 50px;
                    background-color: #e0d1c786;
                    resize: none;
                    z-index: 2;
                    font-size: 1.3rem;
                    color: #2a2727;
                    font-family: 'Forum', cursive;

                    &::selection {
                        color: $---selection-color;
                        background: $---selection-bg;
                    }

                    animation-name: inputSlide;
                    animation-duration: .5s;
                    animation-timing-function: ease-in-out;

                    @keyframes inputSlide {
                        from {
                            opacity: 0;
                            width: 0px;
                            padding: 0;
                        }

                        to {
                            opacity: 1;
                            width: 100%;
                            padding: 12px 60px 12px 20px;
                        }
                    }
                }

                & .search {
                    margin-right: 10px;
                    z-index: 3;
                    font-size: 40px;
                    cursor: pointer;
                    transition: 300ms;
                    color: $---accent4;

                    &:hover {
                        scale: 110%;
                    }

                    &:active {
                        scale: 95%;
                    }
                }

                & .cross {
                    margin-right: 10px;
                    z-index: 1;
                    font-size: 40px;
                    cursor: pointer;
                    position: absolute;
                    transition: 300ms;
                    color: $---accent4;

                    &:hover {
                        scale: 104%;
                    }

                    &:active {
                        scale: 96%;
                    }

                    animation-name: crossSlide;
                    animation-duration: .5s;
                    animation-timing-function: ease-in-out;

                    @keyframes crossSlide {
                        from {
                            opacity: 0;
                            transform: translateY(0px);
                        }

                        to {
                            opacity: 1;
                            transform: translateY(-70px) rotate(360deg);
                        }
                    }
                }
            }

            @media screen and (max-width: 700px) {
                & .heading {
                    margin: 1.5rem 0 2rem;
                    color: #2a2727;
                    font-size: 4rem;
                    letter-spacing: 0.2rem;
                }

                & .searchContainer {
                    & input {
                        height: 45px;
                        padding: 12px 50px 12px 20px;
                        font-size: 1.2rem;
                    }

                    & .search {
                        font-size: 35px;
                    }

                    & .cross {
                        font-size: 35px;
                    }
                }
            }

            @media screen and (max-width: 500px) {
                & .heading {
                    margin: 1.5rem 0 2rem;
                    color: #2a2727;
                    font-size: 3rem;
                    letter-spacing: 0.2rem;
                }

                & .cross {
                    animation-name: crossSlide;
                    animation-duration: .5s;
                    animation-timing-function: ease-in-out;

                    @keyframes crossSlide {
                        from {
                            opacity: 0;
                            transform: translateY(0px);
                        }

                        to {
                            opacity: 1;
                            transform: translateY(-72px) rotate(360deg);
                        }
                    }
                }
            }

            @media screen and (max-width: 430px) {
                & .heading {
                    margin: 1.5rem 0 1.5rem;
                    color: #2a2727;
                    font-size: 3rem;
                    letter-spacing: 0.2rem;
                }

                & .searchContainer {
                    & input {
                        height: 45px;
                        padding: 12px 50px 12px 20px;
                        font-size: 1.1rem;
                    }

                    & .search {
                        font-size: 32px;
                    }

                    & .cross {
                        font-size: 32px;
                        animation-name: crossSlide;
                        animation-duration: .5s;
                        animation-timing-function: ease-in-out;

                        @keyframes crossSlide {
                            from {
                                opacity: 0;
                                transform: translateY(0px);
                            }

                            to {
                                opacity: 1;
                                transform: translateY(-70px) rotate(360deg);
                            }
                        }
                    }
                }
            }

            @media screen and (max-width: 340px) {
                & .heading {
                    margin: 1.5rem 0 1.5rem;
                    font-size: 3rem;
                    letter-spacing: 0.2rem;
                }

                & .searchContainer {
                    & input {
                        height: 40px;
                        padding: 12px 50px 12px 20px;
                        font-size: 1.1rem;
                    }

                    & .search {
                        font-size: 32px;
                    }

                    & .cross {
                        animation-name: crossSlide;
                        animation-duration: .5s;
                        animation-timing-function: ease-in-out;

                        @keyframes crossSlide {
                            from {
                                opacity: 0;
                                transform: translateY(0px);
                            }

                            to {
                                opacity: 1;
                                transform: translateY(-66px) rotate(360deg);
                            }
                        }
                    }
                }
            }

            @media screen and (max-width: 320px) {
                & .heading {
                    margin: 1.5rem 0 1.5rem;
                    font-size: 2.3rem;
                    letter-spacing: 0.1rem;
                }

                & .search {
                    font-size: 30px;
                }
            }
        }

        & .dojoList {
            width: 100%;
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            // gap: 40px;
            transition: 300ms;

            & .dojoBox {
                display: flex;
                flex-direction: column;
                // border: 1px solid black;

                & .dojoName {
                    margin: 0 0 .5rem;
                    font-size: 1.5rem;
                    font-family: 'Amarante', cursive;
                    // border: 2px solid red;

                    &::selection {
                        color: $---selection-color;
                        background: $---selection-bg;
                    }

                    @media screen and (max-width: 510px) {
                        font-size: 1.4rem;
                    }

                    @media screen and (max-width: 500px) {
                        font-size: 1.3rem;
                    }

                    @media screen and (max-width: 430px) {
                        font-size: 1.2rem;
                    }
                }

                & .dojoType {
                    margin: 0 0 1rem;
                    font-size: 1.3rem;
                    font-weight: bold;

                    // font-family: 'Amarante', cursive;
                    font-family: 'Forum', cursive;
                    // font-family: 'Philosopher', sans-serif;
                    // font-family: 'Tenali Ramakrishna', sans-serif;

                    // border: 2px solid red;

                    &::selection {
                        color: $---selection-color;
                        background: $---selection-bg;
                    }

                    @media screen and (max-width: 510px) {
                        margin: 0 0 .5rem;
                        font-size: 1.2rem;
                    }

                    @media screen and (max-width: 500px) {
                        margin: 0 0 .5rem;
                        font-size: 1.1rem;
                    }

                    @media screen and (max-width: 430px) {
                        margin: 0 0 .5rem;
                        font-size: 1.0rem;
                    }
                }

                & .dojoDetail {
                    margin: 20px 0;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    @media screen and (max-width: 500px) {
                        gap: 10px;
                    }

                    & .dojoDiv {
                        display: flex;
                        flex-direction: row;
                        gap: 20px;

                        @media screen and (max-width: 500px) {
                            gap: 10px;
                        }

                        & .imageBox {
                            // border: 1px solid rgb(0, 255, 0);

                            & img {
                                filter: sepia(30%) grayscale(30%);
                                height: 200px;
                                width: 200px;
                                border-radius: 10px;
                                object-fit: cover;
                                user-select: none;
                            }

                            @media screen and (max-width: 700px) {
                                & img {
                                    border-radius: 5px;
                                    height: 170px;
                                    width: 150px;
                                }
                            }

                            @media screen and (max-width: 500px) {
                                & img {
                                    height: 150px;
                                    width: 130px;
                                }
                            }

                            @media screen and (max-width: 430px) {
                                & img {
                                    height: 150px;
                                    width: 120px;
                                }
                            }
                        }

                        & .details {
                            display: flex;
                            flex-direction: column;
                            // border: 1px solid rgb(0, 157, 255);

                            // font-family: 'Amarante', cursive;
                            font-family: 'Forum', cursive;
                            // font-family: 'Philosopher', sans-serif;
                            // font-family: 'Tenali Ramakrishna', sans-serif;

                            @media screen and (max-width: 700px) {
                                gap: 10px;
                            }

                            & .instructor {
                                display: flex;
                                flex-direction: row;

                                & .instA {
                                    margin: 10px;
                                    font-size: 1.3rem;
                                    font-weight: bold;
                                    // border: 1px solid black;

                                    &::selection {
                                        color: $---selection-color;
                                        background: $---selection-bg;
                                    }
                                }

                                & .instB {
                                    margin: 10px;
                                    font-size: 1.3rem;
                                    // border: 1px solid black;

                                    &::selection {
                                        color: $---selection-color;
                                        background: $---selection-bg;
                                    }
                                }

                                @media screen and (max-width: 700px) {
                                    flex-direction: column;

                                    & .instA {
                                        margin: 0 10px;
                                        font-size: 1.1rem;
                                    }

                                    & .instB {
                                        margin: 0 10px;
                                        font-size: 1.3rem;
                                    }
                                }

                                @media screen and (max-width: 510px) {
                                    flex-direction: column;

                                    & .instA {
                                        margin: 0 10px;
                                        font-size: 1.1rem;
                                    }

                                    & .instB {
                                        margin: 0 10px;
                                        font-size: 1.3rem;
                                    }
                                }

                                @media screen and (max-width: 430px) {
                                    flex-direction: column;

                                    & .instA {
                                        margin: 0 10px;
                                        font-size: 1.0rem;
                                    }

                                    & .instB {
                                        margin: 0 10px;
                                        font-size: 1.2rem;
                                    }
                                }
                            }

                            & .contact {
                                display: flex;
                                flex-direction: row;

                                & .contA {
                                    margin: 10px;
                                    font-size: 1.3rem;
                                    font-weight: bold;
                                    // border: 1px solid black;

                                    &::selection {
                                        color: $---selection-color;
                                        background: $---selection-bg;
                                    }
                                }

                                & .contB {
                                    margin: 10px;
                                    font-size: 1.3rem;
                                    word-break: break-word;

                                    // border: 1px solid black;

                                    &::selection {
                                        color: $---selection-color;
                                        background: $---selection-bg;
                                    }
                                }

                                @media screen and (max-width: 700px) {
                                    flex-direction: column;

                                    & .contA {
                                        margin: 0 10px;
                                        font-size: 1.1rem;
                                    }

                                    & .contB {
                                        margin: 0 10px;
                                        font-size: 1.1rem;
                                    }
                                }

                                @media screen and (max-width: 510px) {
                                    flex-direction: column;

                                    & .contA {
                                        margin: 0 10px;
                                        font-size: 1.1rem;
                                    }

                                    & .contB {
                                        margin: 0 10px;
                                        font-size: 1.1rem;
                                    }
                                }

                                @media screen and (max-width: 430px) {
                                    flex-direction: column;

                                    & .contA {
                                        margin: 0 10px;
                                        font-size: 1.0rem;
                                    }

                                    & .contB {
                                        margin: 0 10px;
                                        font-size: 1.0rem;
                                    }
                                }
                            }
                        }
                    }

                    & .brunch {
                        // font-family: 'Amarante', cursive;
                        font-family: 'Forum', cursive;
                        // font-family: 'Philosopher', sans-serif;
                        // font-family: 'Tenali Ramakrishna', sans-serif;

                        & .mainLocation {
                            margin: 10px;
                            font-size: 1.3rem;
                            font-weight: bold;
                            // border: 1px solid black;

                            &::selection {
                                color: $---selection-color;
                                background: $---selection-bg;
                            }
                        }

                        & .locationList {
                            & .location {
                                margin: 10px;
                                font-size: 1.3rem;
                                // border: 1px solid black;

                                &::selection {
                                    color: $---selection-color;
                                    background: $---selection-bg;
                                }
                            }
                        }

                        @media screen and (max-width: 700px) {
                            & .mainLocation {
                                margin: 10px;
                                font-size: 1.2rem;
                            }

                            & .locationList {
                                & .location {
                                    margin: 10px;
                                    font-size: 1.2rem;
                                }
                            }
                        }

                        @media screen and (max-width: 510px) {
                            & .mainLocation {
                                margin: 8px;
                                font-size: 1.2rem;
                            }

                            & .locationList {
                                & .location {
                                    margin: 8px;
                                    font-size: 1.2rem;
                                }
                            }
                        }

                        @media screen and (max-width: 430px) {
                            & .mainLocation {
                                margin: 5px;
                                font-size: 1.1rem;
                            }

                            & .locationList {
                                & .location {
                                    margin: 5px;
                                    font-size: 1.1rem;
                                }
                            }
                        }
                    }
                }

                & .line {
                    margin: 3rem 0;
                    height: 2px;
                    width: 100%;
                    background: radial-gradient(circle, #905043 0%, transparent 100%);
                    opacity: .5;
                    transition: 1000ms;

                    @media screen and (max-width: 430px) {
                        margin: 2rem 0;
                    }
                }
            }

            @media screen and (max-width: 500px) {
                margin-top: 40px;
                // gap: 20px;
            }

            @media screen and (max-width: 400px) {
                margin-top: 30px;
                // gap: 20px;
            }

            @media screen and (max-width: 320px) {
                margin-top: 20px;
                // gap: 20px;
            }
        }
    }
}