@import '../../../styles/variables';
@import '../../../styles/Fonts.scss';


.gallery-board {
    height: 100%;

    & .form-section {
        & .form-title {
            font-family: 'Geo';
        }

        & .form-group {
            width: 100%;
            display: flex;
            flex-direction: column;

            & .image-preview {
                margin-bottom: 10px;
                border-radius: 8px;
                border: 1px solid $---accent6;
                background: #ffffff68;

                max-width: 100%;
                max-height: 200px;
                object-fit: contain;
            }

            & .upload-progress {
                margin-top: 10px;
                width: 100%;

                & .progress-bar {
                    position: relative;
                    height: fit-content;
                    width: 100%;
                    padding: 0px 20px;
                    background-color: #f0f0f0;
                    border-radius: 4px;
                    overflow: hidden;
                    margin-bottom: 5px;

                    & .progress-fill {
                        top: 0px;
                        left: 0px;
                        position: absolute;
                        height: 100%;
                        background-color: #4CAF50;
                        transition: width 0.3s ease;
                    }
                }

                & p {
                    margin: 0;
                    font-size: 14px;
                    color: green;
                    font-family: 'Geo';

                }
            }
        }

        & .form-group:last-child {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 20px;

            & .error-message {
                margin: 4px 0 20px 0;
                font-family: 'Geo';
                color: $---accent1;
                font-size: 16px;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                gap: 10px;
                line-break: anywhere;

                & svg {
                    min-height: 20px;
                    min-width: 20px;
                }
            }

            & button {
                align-self: flex-start;
                overflow: hidden;
                position: relative;

                & .progress-bar {
                    height: 100%;
                    width: 100%;

                    & .progress-fill {
                        height: 100%;
                        background-color: #4CAF50;
                        transition: width 0.3s ease;
                    }
                }

                & p {
                    position: absolute;
                    text-align: center;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    margin: 0;
                    font-size: 14px;
                    color: black;
                    font-family: 'Geo';
                }
            }
        }
    }

    // .align-image
    // └── .image
    //     │── img
    //     │── .loading
    //     └── .image-info
    //         │── .info-box
    //         │   │── .info-label
    //         │   └── .info-text
    //         └── .btns
    //             │── .edit
    //             └── .delete

    & .wobble {
        position: absolute;
    }

    & .align-image {
        position: relative;
        height: 100%;
        margin-bottom: 26px;
        column-count: 6;
        --webkit-column-count: 6;
        --moz-column-count: 6;
        column-gap: 6px;

        @media screen and (max-width: 1080px) {
            column-count: 5;
            --webkit-column-count: 5;
            --moz-column-count: 5;
            column-gap: 6px;
        }

        @media screen and (max-width: 720px) {
            column-count: 4;
            --webkit-column-count: 4;
            --moz-column-count: 4;
            column-gap: 6px;
        }

        @media screen and (max-width: 480px) {
            column-count: 3;
            --webkit-column-count: 3;
            --moz-column-count: 3;
            column-gap: 6px;
        }

        & .image {
            // overflow: hidden;
            transition: 300ms;
            margin: 0 0 6px 0;
            border-radius: 8px;
            // position: relative;

            & img {
                height: auto;
                object-fit: contain;
                border-radius: 8px 8px 0 0;
                display: block;
                transition: 300ms;
                border-radius: 8px;

                user-select: none;
            }
        }
    }

    & .loading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #ffffff50;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(2px);
        font-family: 'Geo';
        color: $---accent1;
        line-height: 20px;

        @keyframes spinner {
            to {
                transform: rotate(360deg);
            }
        }

        &::before {
            content: "";
            box-sizing: border-box;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 24px;
            height: 24px;
            margin-top: -12px;
            margin-left: -12px;
            border-radius: 50%;
            border-top: 2px solid red;
            border-right: 2px solid transparent;
            animation: spinner 600ms linear infinite;
        }
    }

    & .imgOverlay {
        z-index: 10;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100vw;
        height: 100vh;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background: #00000000;
        backdrop-filter: blur(5px);

        @media screen and (max-width: 480px) {
            padding: 10px;
        }

        & .imgPopup {
            height: 1000px;
            max-height: 100%;
            width: 1000px;
            max-width: 100%;
            padding: 10px 10px;
            border-radius: 8px;

            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            gap: 20px;
            padding: 20px 20px;

            &::before {
                background: #fed;
                position: absolute;
                content: '';
                inset: 0;
                border-radius: 5px;
                filter: url(#wobble);
                // transform: rotate(-1deg);
                z-index: -1;
                border-top: 1px solid rgba(255, 255, 255, 0.42);
                border-left: 1px solid rgba(255, 255, 255, 0.42);
                border-bottom: 1px solid rgba(119, 90, 90, 0.4);
                border-right: 1px solid rgba(119, 90, 90, 0.4);
                box-shadow: 1px 2px 2px rgba(24, 10, 3, 0.116);
                background-image: url(https://res.cloudinary.com/dangvxnul/image/upload/v1716225651/paper-dark_fuujeq.jpg);
                // filter: opacity(0.1);
                background-size: 100px;
                transition: 300ms;
            }

            & .image-info {
                width: 100%;
                height: 100%;
                // max-height: calc(100% - 48px);
                overflow-y: auto;

                display: flex;
                flex-direction: column;

                &::-webkit-scrollbar {
                    width: 6px;
                    height: 5px;
                    background: transparent;
                }

                &::-webkit-scrollbar-thumb {
                    background: black;
                    border-top: solid 10px tomato;
                    border-bottom: solid 10px tomato;
                }

                & .info-img {
                    height: 30%;
                    margin: 0 0 10px 0;
                    width: 100%;
                    object-fit: contain;
                    background: #ffffff68;
                    border-radius: 8px;
                    border-top: 1px solid white;
                }

                & .info-label {
                    font-size: 18px;
                    color: #403D3C;
                    padding-bottom: 2px;
                    margin: 0;
                    font-family: 'Geo';
                }

                & .info-text {
                    // min-height: 100px;
                    height: fit-content;
                    margin: 0 0 10px 0;
                    padding: 10px;
                    font-size: 18px;
                    color: #403D3C;
                    background: #ffffff68;
                    border-radius: 8px;
                    border-top: 1px solid white;

                    // display: -webkit-box;
                    // -webkit-line-clamp: 3;
                    // -webkit-box-orient: vertical;
                    // overflow: hidden;
                    // text-overflow: ellipsis;
                    // max-width: 100%;
                }
            }

            & .button-div {
                min-height: 48px;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            & .del-popup {
                z-index: 10;
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100vw;
                height: 100vh;
                padding: 40px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                background: #00000020;
                backdrop-filter: blur(6px);

                @media screen and (max-width: 480px) {
                    padding: 10px;
                }

                & .del-modal {
                    height: fit-content;
                    max-height: 100%;
                    width: 80%;
                    max-width: 800px;
                    padding: 10px 10px;
                    border-radius: 8px;

                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;
                    padding: 20px 20px;

                    &::before {
                        background: #fed;
                        position: absolute;
                        content: '';
                        inset: 0;
                        border-radius: 5px;
                        filter: url(#wobble);
                        // transform: rotate(-1deg);
                        z-index: -1;
                        border-top: 1px solid rgba(255, 255, 255, 0.42);
                        border-left: 1px solid rgba(255, 255, 255, 0.42);
                        border-bottom: 1px solid rgba(119, 90, 90, 0.4);
                        border-right: 1px solid rgba(119, 90, 90, 0.4);
                        box-shadow: 1px 2px 2px rgba(24, 10, 3, 0.116);
                        background-image: url(https://res.cloudinary.com/dangvxnul/image/upload/v1716225651/paper-dark_fuujeq.jpg);
                        // filter: opacity(0.1);
                        background-size: 100px;
                        transition: 300ms;
                    }

                    & .warning {
                        font-size: 60px;
                        color: #ffd000;
                        text-shadow: 1px 1px 1px black;
                        -webkit-filter: drop-shadow(0 0 3px #000);
                        filter: drop-shadow(0 0 3px #000);

                        @media screen and (max-width: 480px) {
                            font-size: 40px;
                        }
                    }

                    & .info-label {
                        text-align: center;
                        font-size: 22px;
                        color: #403D3C;
                        padding-bottom: 2px;
                        margin: 0;
                        font-family: 'Geo';
                    }
                }
            }

            // Edit mode styles
            & .edit-mode {
                width: 100%;
                height: 100%;
                // max-height: calc(100% - 48px);
                overflow-y: auto;

                display: flex;
                flex-direction: column;

                & .info-label {
                    font-size: 18px;
                    color: #403D3C;
                    padding-bottom: 2px;
                    margin: 0;
                    font-family: 'Geo';
                }

                & .edit-image-preview {
                    height: 30%;
                    margin: 0 0 10px 0;
                    width: 100%;
                    object-fit: contain;
                    background: #ffffff68;
                    border-radius: 8px;
                    border: 1px solid $---accent6 !important;
                }

                // input styles are in Admin.scss
            }
        }
    }
}