@import '../../styles/variables';
@import '../../styles/Fonts';

.ShubukanIndia {
    // border: 1px solid red;
    padding-top: 8rem;
    max-width: 1000px;
    height: fit-content;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width:1000px) {
        padding-top: 7rem;
    }

    @media screen and (max-width: 800px) {
        padding-top: 5rem;
    }

    @media screen and (max-width: 431px) {
        width: 90%;
    }

    & .Hero {
        width: 100%;
        height: fit-content;
        margin-bottom: 4rem;
        padding-top: 2rem;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        & .heading {
            margin: 1.5rem 0 2rem;
            color: #2a2727;
            letter-spacing: 0.2rem;
            font-size: 6rem;

            font-family: $font-rainlyregularovl7o;

            &::selection {
                color: $---selection-color;
                background: $---selection-bg;
            }
        }

        & p {
            font-size: 1.5rem;
            text-align: justify;

            color: #4b423b;
            font-family: 'Bellefair', serif;

            &::selection {
                color: $---selection-color;
                background: $---selection-bg;
            }
        }

        & .ex-text {
            text-align: right;
            width: 100%;
        }

        @media screen and (max-width: 1000px) {
            & .heading {
                font-size: 5.5rem;
                margin: 1.5rem 0 1rem;
                letter-spacing: 0rem;
            }
        }

        @media screen and (max-width: 800px) {
            & .heading {
                font-size: 5.2rem;
            }
        }

        @media screen and (max-width: 700px) {
            & .heading {
                font-size: 5rem;
                margin: 1rem 0 0.5rem;
            }
        }

        @media screen and (max-width: 600px) {
            & .heading {
                font-size: 4.5rem;
                margin: 1rem 0 0.5rem;
            }
        }

        @media screen and (max-width: 500px) {
            & .heading {
                font-size: 3.6rem;
                margin: 0rem 0 0rem;
            }

            & p {
                font-size: 1.3rem;
            }
        }

        @media screen and (max-width: 400px) {}

        @media screen and (max-width: 360px) {
            & .heading {
                font-size: 3.2rem;
            }
        }

        @media screen and (max-width: 310px) {
            & .heading {
                font-size: 3rem;
            }
        }
    }

    & .social {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: fit-content;

        & .links {
            & .link {
                height: 40px;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: center;
                gap: 1rem;
                // margin: 40px 0;
                // border: 1px solid red;

                & .label {
                    line-height: 50px;
                    text-align: center;
                    font-weight: 700;
                    font-size: 1.5rem;

                    color: #2a2727;
                    // border: 1px solid red;
                }

                & .opt {
                    font-family: 'Tenali Ramakrishna', sans-serif;

                    line-height: 20px;
                    text-align: center;
                    font-weight: 700;
                    font-size: 1.2rem;
                    margin-top: 3px;
                    text-decoration: none;
                    // line-height: 0;
                    color: #2a2727;
                }
            }
        }

        & .images {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;

            & img {
                width: 200px;
                transition: 300ms;
                box-shadow: 8px 8px 0 rgba(22, 22, 22, 0.193);
                border: 1px solid;
            }
        }

        @media screen and (max-width: 800px) {

            & .images {
                & img {
                    width: 150px;
                }
            }
        }

        @media screen and (max-width: 670px) {
            flex-direction: column-reverse;
            align-items: flex-start;
            gap: 50px;

            & .images {
                & img {
                    width: 150px;
                }
            }
        }

        @media screen and (max-width: 360px) {
            & .images {
                & img {
                    width: 140px;
                }
            }
        }
    }

    & .Content {
        width: 100%;
        height: fit-content;
        margin-bottom: 8rem;
        padding-top: 10rem;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        & .heading {
            margin: 1.5rem 0 2rem;
            color: #2a2727;
            font-size: 5rem;
            text-align: left;
            font-family: $font-rainlyregularovl7o;

            &::selection {
                color: $---selection-color;
                background: $---selection-bg;
            }
        }

        & p {
            font-size: 1.5rem;
            text-align: justify;
            color: #4b423b;
            font-family: 'Bellefair', serif;

            // border: 1px solid red;

            & img {
                width: 240px;
                height: 240px;
                float: left;
                margin: 0 100px;
                margin-left: 0;
                shape-outside: circle();
                // border: 1px solid red;
                // background-image: url('https://res.cloudinary.com/daspiwjet/image/upload/v1755369663/shubukan_kjeaou.png');
                // background-size: contain;
                // background-position: 100%;
            }

            &::selection {
                color: $---selection-color;
                background: $---selection-bg;
            }
        }

        @media screen and (max-width: 1000px) {
            & .heading {
                font-size: 4.2rem;
                margin: 1.5rem 0 1rem;
            }
        }

        @media screen and (max-width: 800px) {
            & .heading {
                font-size: 3.8rem;
            }
        }

        @media screen and (max-width: 700px) {
            padding-top: 6rem;

            & .heading {
                font-size: 3.4rem;
                margin: 1rem 0 0.5rem;
            }
        }

        @media screen and (max-width: 620px) {
            & .heading {
                font-size: 3rem;
                margin: 1rem 0 0.5rem;
            }
        }

        @media screen and (max-width: 550px) {
            & .heading {
                font-size: 2.6rem;
                margin: 0rem 0 0rem;
            }
        }

        @media screen and (max-width: 500px) {
            & .heading {
                font-size: 2.4rem;
                margin: 0rem 0 0rem;
            }

            & p {
                font-size: 1.3rem;

                & img {
                    width: 180px;
                    height: 180px;
                    margin: 0 50px 5px 0;
                    margin-left: 0;
                    shape-outside: circle();
                }
            }
        }

        @media screen and (max-width: 400px) {
            & p {
                & img {
                    width: 160px;
                    height: 160px;
                    margin: 0 50px 5px 0;
                    margin-left: 0;
                    shape-outside: circle();
                }
            }
        }

        @media screen and (max-width: 340px) {
            & p {
                & img {
                    width: 100%;
                    object-fit: contain;
                    margin: 0 0 5px 0;
                    float: none;
                }
            }
        }

        @media screen and (max-width: 310px) {}
    }
}