@import '../../assets/variables';

.LineageAndDojoKun {
    // border: 1px solid red;
    height: 100%;
    width: 80%;
    max-width: 1000px;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 400px) {
        padding-top: 5rem;
        width: 90%;
    }

    & .Lineage-Hero {
        width: 100%;
        height: fit-content;
        margin-bottom: 6rem;
        padding-top: 3rem;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        & h1 {
            margin: 1.5rem 0 2rem;
            color: #2a2727;
            font-size: 3.5rem;
            letter-spacing: 0.2rem;
            // font-family: 'Amarante', cursive;
            // font-family: 'Andika', sans-serif;
            // font-family: 'Bellefair', serif;
            // font-family: 'Capriola', sans-serif;
            // font-family: 'Flamenco', cursive;
            font-family: 'Fredericka the Great', cursive;
            // font-family: 'GFS Neohellenic', sans-serif;
            // font-family: 'Pompiere', cursive;
            // font-family: 'Tenali Ramakrishna', sans-serif;

            &::selection {
                color: $---selection-color;
                background: $---selection-bg;
            }
        }

        & p {
            margin: 0;
            font-size: 1.5rem;
            font-family: 'Amarante', cursive;
            // font-family: 'Andika', sans-serif;
            // font-family: 'Bellefair', serif;
            // font-family: 'Capriola', sans-serif;
            // font-family: 'Flamenco', cursive;
            // font-family: 'Fredericka the Great', cursive;
            // font-family: 'GFS Neohellenic', sans-serif;
            // font-family: 'Pompiere', cursive;
            // font-family: 'Tenali Ramakrishna', sans-serif;

            &::selection {
                color: $---selection-color;
                background: $---selection-bg;
            }
        }

        & .family-tree {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            margin-top: 80px;

            & .name {
                margin: 18px 0 0 0;
                font-size: 1.8rem;
                text-align: justify;
                // font-family: 'Amarante', cursive;
                // font-family: 'Andika', sans-serif;
                // font-family: 'Bellefair', serif;
                // font-family: 'Capriola', sans-serif;
                // font-family: 'Flamenco', cursive;
                // font-family: 'Fredericka the Great', cursive;
                font-family: 'GFS Neohellenic', sans-serif;
                // font-family: 'Pompiere', cursive;
                // font-family: 'Tenali Ramakrishna', sans-serif;

                &::selection {
                    color: $---selection-color;
                    background: $---selection-bg;
                }
            }

            & p {
                margin-bottom: 18px;
                font-size: 1.7rem;
                text-align: justify;
                font-family: 'Amarante', cursive;
                font-family: 'Andika', sans-serif;
                font-family: 'Bellefair', serif;
                font-family: 'Capriola', sans-serif;
                font-family: 'Flamenco', cursive;
                font-family: 'Fredericka the Great', cursive;
                font-family: 'GFS Neohellenic', sans-serif;
                font-family: 'Pompiere', cursive;
                font-family: 'Tenali Ramakrishna', sans-serif;
                // font-family: 'Faster One';
                // font-family: 'Finlandica';
                // font-family: 'Foldit';
                // font-family: 'Gemunu Libre';
                // font-family: 'Geo';
                // font-family: 'Lekton';
                // font-family: 'Lexend Peta';
                // font-family: 'Lexend Tera';
                // font-family: 'Martian Mono';
                // font-family: 'MuseoModerno';
                // font-family: 'Orbit';
                // font-family: 'Rubik Dirt';
                // font-family: 'Shippori Antique';
                // font-family: 'Tourney';
                // font-family: 'Train One';
                // font-family: 'Tulpen One';
                // font-family: 'swap';

                &::selection {
                    color: $---selection-color;
                    background: $---selection-bg;
                }
            }

            & div {
                height: 50px;
                width: 2px;
                background: #000000;

                display: flex;
                flex-direction: column;
                justify-content: end;

                & .label {
                    line-height: 50px;
                    text-align: center;
                    font-weight: 700;
                    font-size: 1.5rem;
                    // position: absolute;
                    transform: translate(-11px, 10px);

                    color: #000000;
                }
            }

            @media screen and (max-width: 650px) {
                & .name {
                    font-size: 1.6rem;
                }

                & p {
                    font-size: 1.5rem;
                }

                & div {
                    height: 40px;
                    width: 2.4px;

                    & .label {
                        transform: translate(-10.6px, 10px);
                    }
                }
            }

            @media screen and (max-width: 400px) {
                & .name {
                    font-size: 1.5rem;
                }

                & p {
                    font-size: 1.3rem;
                    margin-bottom: 10px;
                }

                & div {
                    height: 30px;
                    width: 2.4px;

                    & .label {
                        transform: translate(-10.6px, 10px);
                    }
                }
            }
        }
    }

    & .pattern {
        width: 100%;
        height: fit-content;
        margin: 6rem 0;

        & img {
            object-fit: cover;
            height: 30px;
            width: 100%;
            filter: sepia(300%) grayscale(10%);
            opacity: .1;
        }

        @media screen and (max-width: 900px) {
            margin: 2rem 0;
        }
    }

    & .DojoKun-Hero {
        // border: 1px solid rgb(0, 94, 255);
        width: 100%;
        height: fit-content;
        margin-bottom: 10rem;
        padding-top: 3rem;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        & img {
            width: 100%;
        }

        & h1 {
            margin: 4rem 0 0 0;
            color: #2a2727;
            font-size: 3.5rem;
            letter-spacing: 0.2rem;
            // font-family: 'Amarante', cursive;
            // font-family: 'Andika', sans-serif;
            // font-family: 'Bellefair', serif;
            // font-family: 'Capriola', sans-serif;
            // font-family: 'Flamenco', cursive;
            font-family: 'Fredericka the Great', cursive;
            // font-family: 'GFS Neohellenic', sans-serif;
            // font-family: 'Pompiere', cursive;
            // font-family: 'Tenali Ramakrishna', sans-serif;

            &::selection {
                color: $---selection-color;
                background: $---selection-bg;
            }
        }

        & h2 {
            &::selection {
                color: $---selection-color;
                background: $---selection-bg;
            }
        }


        & li {
            font-size: 1.5rem;
            text-align: left;
            margin: 30px 0;
            // font-family: 'Amarante', cursive;
            // font-family: 'Andika', sans-serif;
            // font-family: 'Bellefair', serif;
            // font-family: 'Capriola', sans-serif;
            // font-family: 'Flamenco', cursive;
            // font-family: 'Fredericka the Great', cursive;
            font-family: 'GFS Neohellenic', sans-serif;
            // font-family: 'Pompiere', cursive;
            // font-family: 'Tenali Ramakrishna', sans-serif;

            &::selection {
                color: $---selection-color;
                background: $---selection-bg;
            }
        }

        @media screen and (max-width: 700px) {
            margin-bottom: 5rem;

            & h1 {
                color: #2a2727;
                font-size: 3rem;
                letter-spacing: 0.2rem;
            }

            & li {
                margin: 25px 0;
            }
        }

        @media screen and (max-width: 400px) {
            margin-bottom: 1rem;

            & h1 {
                color: #2a2727;
                font-size: 2.8rem;
                letter-spacing: 0.2rem;
            }

            & li {
                margin: 20px 0;
            }
        }
    }
}