@import '../../styles/variables.scss';
@import '../../styles/Fonts.scss';
@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Andika&family=Bellefair&family=Capriola&family=Flamenco&family=Forum&family=Fredericka+the+Great&family=GFS+Neohellenic&family=Philosopher&family=Pompiere&family=Tenali+Ramakrishna&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Finlandica&family=Foldit&family=Fredericka+the+Great&family=Gemunu+Libre&family=Geo&family=Lekton&family=Lexend+Peta&family=Lexend+Tera&family=Martian+Mono&family=MuseoModerno&family=Orbit&family=Rubik+Dirt&family=Shippori+Antique&family=Tourney&family=Train+One&family=Tulpen+One&display=swap');

#Navbar {
    z-index: 50;

    height: 10rem;
    width: 100%;
    max-width: 100vw;
    position: fixed;
    top: 0rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
    overflow-y: hidden;

    // background-image: linear-gradient(white, white, transparent);
    // box-shadow: inset 0px 260px 40px -150px white;
    // X-axis, Y-axis, Blur-radius, Spread-radius, Color
    box-shadow: inset 0px 260px 40px -150px rgba(255, 255, 255, 0.5);
    transition: all 1s ease-in-out 0s;
    // transition: 1s;
    animation-name: navSlide;
    animation-duration: .2s;
    animation-timing-function: ease-in-out;

    @keyframes navSlide {
        from {
            top: -10rem;
        }

        to {
            top: 0rem;
        }
    }

    // & svg {
    //     position: absolute;
    // }

    & #cloud-circle {
        // border: solid 1px blueviolet;
        z-index: -1;
        width: 200vw;
        height: 75%;
        border-radius: 0%;
        filter: url(#filter);
        // X-axis, Y-axis, Blur-radius, Spread-radius, Color
        box-shadow: 0px 8px 20px 10px #ffffff;
        background: #ffffff;
        position: absolute;
        top: -25px;
        left: -180px;
        // transform: translate(-50%, -50%);
    }

    // border-bottom: solid red 1px;

    & .logo {
        width: fit-content;
        height: 5rem;
        margin: 1rem 0 0 1rem;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        transition: 300ms;

        & .heading {
            // margin: 1.5rem 0 2rem;
            // padding-left: 10px;
            color: #2a2727;
            text-transform: uppercase;
            font-family: 'Fredericka the Great', cursive;
            // font-family: $font-sketchzone;
            letter-spacing: 4px;

            filter: opacity(100%);
            transform: translateX(10%);

            animation-name: headingSlide;
            animation-duration: 500ms;
            animation-timing-function: ease-in-out;

            @keyframes headingSlide {
                from {
                    filter: opacity(0%);
                    transform: translateX(-10%);
                }

                to {
                    filter: opacity(100%);
                    transform: translateX(10%);
                }
            }

            &::selection {
                color: $---selection-color;
                background: $---selection-bg;
            }
        }

        & canvas {
            height: 5rem !important;
            width: 5rem !important;
            display: block;
        }

        & .logo1 {
            height: 5rem;
            width: auto;
            object-fit: contain;
            margin-left: .5rem;
            user-select: none;
            transition: 300ms;

            filter: opacity(100%);
            transform: translateX(10%);

            animation-name: headingSlide;
            animation-duration: 500ms;
            animation-timing-function: ease-in-out;

            @keyframes headingSlide {
                from {
                    filter: opacity(0%);
                    transform: translateX(-10%);
                }

                to {
                    filter: opacity(100%);
                    transform: translateX(10%);
                }
            }
        }

        & .logo2 {
            height: 5rem;
            width: auto;
            object-fit: contain;
            margin-left: .5rem;
            user-select: none;
            transition: 300ms;

            filter: opacity(100%);
            transform: translateX(10%);

            animation-name: headingSlide;
            animation-duration: 500ms;
            animation-timing-function: ease-in-out;

            @keyframes headingSlide {
                from {
                    filter: opacity(0%);
                    transform: translateX(-10%);
                }

                to {
                    filter: opacity(100%);
                    transform: translateX(10%);
                }
            }
        }
    }

    & .menu {
        // border: solid;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        transition: 200ms;

        & .menuStart {
            z-index: 4;
            width: 8rem;
            // height: 1.6rem !important;
            margin: 1.5rem 0;
            // background: rgb(125, 203, 255);
            // border: 1px solid red;
            cursor: pointer;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            user-select: none;

            & .lines {
                width: 100px;
                height: 4px;
                background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(42, 32, 28, 1) 100%);
                transition: 200ms;
                user-select: none;
            }

            & p {
                margin: 0 10px 0 0;
                font-size: 1.5rem;
                text-align: justify;
                color: rgba(42, 32, 28, 1);
                line-height: 24px;
                text-align: right;
                letter-spacing: 5px;
                // font-family: 'Amarante', cursive;
                // font-family: 'Andika', sans-serif;
                // font-family: 'Bellefair', serif;
                // font-family: 'Capriola', sans-serif;
                // font-family: 'Flamenco', cursive;
                // font-family: 'Fredericka the Great', cursive;
                font-family: 'GFS Neohellenic', sans-serif;
                // font-family: 'Pompiere', cursive;
                // font-family: 'Tenali Ramakrishna', sans-serif;
                font-family: 'Faster One';
                font-family: 'Finlandica';
                font-family: 'Foldit';
                font-family: 'Gemunu Libre';
                font-family: 'Geo';
                // font-family: 'Lekton';
                // font-family: 'Lexend Peta';
                // font-family: 'Lexend Tera';
                // font-family: 'Martian Mono';
                // font-family: 'MuseoModerno';
                // font-family: 'Orbit';
                // font-family: 'Rubik Dirt';
                // font-family: 'Shippori Antique';
                // font-family: 'Tourney';
                // font-family: 'Train One';
                // font-family: 'Tulpen One';
                // font-family: 'swap';
                transition: 200ms;
                user-select: none;
            }
        }

        @media screen and (max-width: 720px) {

            & .menuStart {
                & P {
                    font-size: 1.2rem;
                    line-height: 20px;
                }

                & .lines {
                    width: 100px;
                    height: 3px;
                }

                &:active {
                    & P {
                        font-size: 1rem;
                    }

                    & .lines {
                        // background: red;
                        width: 150px !important;
                    }
                }
            }
        }

        @media screen and (min-width: 720px) {

            & .menuStart {
                &:hover {
                    & .lines {
                        // background: red;
                        width: 150px !important;
                    }
                }

                &:active {
                    & p {
                        font-size: 1.2rem;
                    }
                }
            }
        }

        & .menuBox {
            z-index: 3;
            position: fixed;
            height: 100vh;
            width: 540px;
            top: 0;
            right: 0;
            // border: solid;
            overflow: hidden;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            transition: 300ms;

            background-image: url('/assets/menu-bg2.png');
            background-repeat: repeat-y;
            background-size: 100%;
            background-position: 100% 340%;

            filter: drop-shadow(1px 1px 2px rgba(28, 8, 0, 1)) drop-shadow(0 0 5px #70411ac1);

            animation-name: menuSlide;
            animation-duration: .2s;
            animation-timing-function: ease-in-out;

            @keyframes menuSlide {
                from {
                    // filter: opacity(0%);
                    transform: translateX(80%);
                }

                to {
                    // filter: opacity(60%);
                    transform: translateX(0%);
                }
            }

            &::before {
                position: absolute;
                content: '';
                inset: 0;
                background: #fed;
                background: linear-gradient(90deg, transparent, #fed);
                transition: 300ms;
            }

            & .nav {
                z-index: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-end;
                // gap: 5px;

                padding: 32px;
                margin: 50px 0 40px 0;
                // border: solid 1px;
                width: 100%;
                height: 100%;
                max-height: 980px;

                & .opt {
                    height: 100%;
                    // border: solid 1px red;
                    text-decoration: none;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    & p {
                        // border: solid 1px;
                        padding: 0;
                        margin: 0;
                        width: 100%;
                        // color: #923e3e;
                        text-align: right;
                        text-decoration: none;
                        font-size: 18px;
                        font-weight: 900;
                        // text-shadow: 0 0 15px rgb(163, 150, 140);
                        font-family: 'Philosopher', sans-serif;
                        // text-shadow: 0px 0px 40px #00000063;
                        transition: 300ms;
                        transition: 0.3s ease 0s, left 0.3s ease 0s;
                        user-select: none;
                    }

                    &:hover {
                        & p {
                            font-size: 24px;
                        }
                    }
                }
            }

            @media screen and (max-width: 800px) {
                width: 470px;

                & .nav {
                    & .opt {
                        & p {
                            font-size: 16px;
                        }

                        &:hover {
                            & p {
                                font-size: 22px;
                            }
                        }
                    }
                }
            }

            @media screen and (max-width: 580px) {
                width: 380px;

                & .nav {
                    padding: 22px;

                    & .opt {
                        & p {
                            font-size: 14px;
                        }

                        &:hover {
                            & p {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }

            @media screen and (max-width: 420px) {
                width: 320px;
                filter: drop-shadow(1px 1px 2px rgba(28, 8, 0, 1)) drop-shadow(0 0 4px #70411ac1);

                &::before {}

                & .nav {
                    & .opt {
                        & p {
                            font-size: 12px;
                        }

                        &:hover {
                            & p {
                                font-size: 15px;
                            }
                        }
                    }
                }
            }

            @media screen and (max-width: 324px) {
                width: 100%;
                background-repeat: repeat;
                background-size: 109%;
                background-position: 100% 340%;

                &::before {}

                & .nav {
                    align-items: center;

                    & .opt {
                        & p {
                            font-size: 10px;
                        }

                        &:hover {
                            & p {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }

            // @media screen and (max-height: 840px) {
            //     & .nav {
            //         margin-top: 25px;

            //         & .opt {
            //             height: 45px;
            //         }
            //     }
            // }

            // @media screen and (max-height: 700px) {
            //     & .nav {
            //         & .opt {
            //             height: 45px;
            //         }
            //     }
            // }

            // @media screen and (max-height: 650px) {
            //     & .nav {
            //         & .opt {
            //             height: 40px;
            //         }
            //     }
            // }

            // @media screen and (max-height: 550px) {
            //     & .nav {
            //         & .opt {
            //             height: 35px;
            //         }
            //     }
            // }

            // @media screen and (max-height: 400px) {
            //     & .nav {
            //         & .opt {
            //             height: 25px !important;
            //         }
            //     }
            // }
        }

        & .menuBG3 {
            z-index: 2;

            background-color: rgba(255, 255, 255, 0);
            opacity: .7;

            overflow: hidden;
            position: fixed;
            height: 100vh;
            width: 100vw;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);

            animation-name: BGBlur;
            animation-duration: .3s;
            animation-timing-function: cubic-bezier(0.12, 0.08, 0.31, 0.97);

            @keyframes BGBlur {
                from {
                    opacity: 0;
                }

                to {
                    opacity: .7;
                }
            }
        }

        & .menuBG2 {
            z-index: 1;

            background-color: #f1e5d9;
            opacity: 0.7;
            background: radial-gradient(circle, transparent 20%, #f1e5d9 20%, #f1e5d9 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #f1e5d9 20%, #f1e5d9 80%, transparent 80%, transparent) 10px 10px, linear-gradient(#ff8d60 0.8px, transparent 0.8px) 0 -0.4px, linear-gradient(90deg, #ff8d60 0.8px, #f1e5d9 0.8px) -0.4px 0;
            background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px;

            overflow: hidden;
            position: fixed;
            height: 100vh;
            width: 100vw;
            left: 0;
            top: 0;

            animation-name: BGBlur;
            animation-duration: .3s;
            animation-timing-function: cubic-bezier(0.12, 0.08, 0.31, 0.97);

            @keyframes BGBlur {
                from {
                    opacity: 0;
                }

                to {
                    opacity: 0.7;
                }
            }
        }

        & .menuBG {
            z-index: 0;

            background-color: #f1e5d938;
            opacity: .4;

            overflow: hidden;
            position: fixed;
            height: 100vh;
            width: 100vw;
            left: 0;
            top: 0;
            -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
            animation-name: BGBlur;
            animation-duration: .3s;
            animation-timing-function: cubic-bezier(0.12, 0.08, 0.31, 0.97);
            filter: url(#grainy-noise);
            // filter: saturate(.5) contrast(1);

            @keyframes BGBlur {
                from {
                    opacity: 0;
                }

                to {
                    opacity: .4;
                }
            }
        }
    }

    @media screen and (max-width: 800px) {
        height: 9rem;
        box-shadow: inset 0px 240px 50px -150px rgb(255, 255, 255);

        & .logo {
            margin: .2rem 0 0 .5rem;

            & .logo1 {
                height: 4.5rem;
            }

            & .logo2 {
                height: 4rem;
            }
        }
    }

    @media screen and (max-width: 700px) {
        height: 8rem;
        box-shadow: inset 0px 225px 48px -150px rgb(255, 255, 255);

        & .logo {
            margin: .1rem 0 0 .5rem;

            & .logo1 {
                height: 4rem;
            }

            & .logo2 {
                height: 3rem;
            }
        }
    }

    @media screen and (max-width: 550px) {
        height: 7rem;
        box-shadow: inset 0px 215px 45px -150px rgb(255, 255, 255);

        & .logo {
            margin: .1rem 0 0 .2rem;
        }

        & .options {
            margin: .5rem .5rem 0 0;
        }
    }

    @media screen and (max-width: 500px) {
        height: 7rem;
        box-shadow: inset 0px 215px 45px -150px rgb(255, 255, 255);

        & .logo {
            margin: .1rem 0 0 .2rem;
        }

        & .options {
            margin: .5rem .5rem 0 0;
        }
    }

    @media screen and (max-width: 350px) {
        height: 7rem;
        box-shadow: inset 0px 215px 45px -150px rgb(255, 255, 255);

        & .logo {
            margin: .1rem 0 0 .2rem;
        }

        & .options {
            margin: .5rem .5rem 0 0;
        }
    }

    @media screen and (max-height: 660px) {
        height: 7rem;
        box-shadow: inset 0px 210px 45px -150px rgb(255, 255, 255);

        & .logo {
            margin: .1rem 0 0 .5rem;

            & .logo1 {
                height: 4rem;
            }

            & .logo2 {
                height: 3rem;
            }
        }

        & .options {
            margin: .5rem .5rem 0 0;
        }
    }
}