@font-face {
  font-family: 'AutterademoXRnG5';
  src: url('/Fonts/Autterademo-xRnG5.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BrisketLgjDD';
  src: url('/Fonts/Brisket-lgjDD.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BrotherlandsignatureBold';
  src: url('/Fonts/BrotherlandsignatureBold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BrushStrokesQ6B5';
  src: url('/Fonts/BrushStrokes-q6B5.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CfBrooshyDemoRegular-1jPg2';
  src: url('/Fonts/CfBrooshyDemoRegular-1jPg2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Distropiax';
  src: url('/Fonts/Distropiax.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Distropiax';
  src: url('/Fonts/Distropiax.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GhiyaStrokes-1Kv4';
  src: url('/Fonts/GhiyaStrokes-1Kv4.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GhiyaStrokesBEZl';
  src: url('/Fonts/GhiyaStrokes-BEZl.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GrustyBrushesPersonalUseRegularPgo8O';
  src: url('/Fonts/GrustyBrushesPersonalUseRegular-pgo8O.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HostgardPersonalUse';
  src: url('/Fonts/HostgardPersonalUse.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LouisfelligriLight';
  src: url('/Fonts/LouisfelligriLight.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MagicBrushGOz2P';
  src: url('/Fonts/MagicBrush-GOz2P.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MeekerenRegular-9YLj2';
  src: url('/Fonts/MeekerenRegular-9YLj2.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MeekerenRegularLg6vw';
  src: url('/Fonts/MeekerenRegular-lg6vw.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MostlyBrightPersonalUseWywoz';
  src: url('/Fonts/MostlyBrightPersonalUse-Wywoz.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Motterdam';
  src: url('/Fonts/Motterdam.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Motterdam';
  src: url('/Fonts/Motterdam.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OachimDemoRegular-5176x';
  src: url('/Fonts/OachimDemoRegular-5176x.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'QillseyeinsteinEapW9';
  src: url('/Fonts/Qillseyeinstein-EapW9.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'QuikersYzXwL';
  src: url('/Fonts/Quikers-YzXwL.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RainlyRegularOVl7O';
  src: url('/Fonts/RainlyRegular-OVl7O.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ShinyPaintZpWEZ';
  src: url('/Fonts/ShinyPaint-ZpWEZ.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TonyBhagesLgZaw';
  src: url('/Fonts/TonyBhages-lgZaw.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

$font-autterademoxrng5: 'AutterademoXRnG5', sans-serif;
$font-brisketlgjdd: 'BrisketLgjDD', sans-serif;
$font-brotherlandsignaturebold: 'BrotherlandsignatureBold', sans-serif;
$font-brushstrokesq6b5: 'BrushStrokesQ6B5', sans-serif;
$font-cfbrooshydemoregular-1jpg2: 'CfBrooshyDemoRegular-1jPg2', sans-serif;
$font-distropiax: 'Distropiax', sans-serif;
$font-ghiyastrokes-1kv4: 'GhiyaStrokes-1Kv4', sans-serif;
$font-ghiyastrokesbezl: 'GhiyaStrokesBEZl', sans-serif;
$font-grustybrushespersonaluseregularpgo8o: 'GrustyBrushesPersonalUseRegularPgo8O', sans-serif;
$font-hostgardpersonaluse: 'HostgardPersonalUse', sans-serif;
$font-louisfelligrilight: 'LouisfelligriLight', sans-serif;
$font-magicbrushgoz2p: 'MagicBrushGOz2P', sans-serif;
$font-meekerenregular-9ylj2: 'MeekerenRegular-9YLj2', sans-serif;
$font-meekerenregularlg6vw: 'MeekerenRegularLg6vw', sans-serif;
$font-mostlybrightpersonalusewywoz: 'MostlyBrightPersonalUseWywoz', sans-serif;
$font-motterdam: 'Motterdam', sans-serif;
$font-oachimdemoregular-5176x: 'OachimDemoRegular-5176x', sans-serif;
$font-qillseyeinsteineapw9: 'QillseyeinsteinEapW9', sans-serif;
$font-quikersyzxwl: 'QuikersYzXwL', sans-serif;
$font-rainlyregularovl7o: 'RainlyRegularOVl7O', sans-serif;
$font-shinypaintzpwez: 'ShinyPaintZpWEZ', sans-serif;
$font-tonybhageslgzaw: 'TonyBhagesLgZaw', sans-serif;


// font-family: $font-meekerenregularlg6vw;
// font-family: $font-brisketlgjdd;
// font-family: $font-brotherlandsignaturebold;
// font-family: $font-brushstrokesq6b5;
// font-family: $font-cfbrooshydemoregular-1jpg2;
// font-family: $font-distropiax;
// font-family: $font-ghiyastrokes-1kv4;
// font-family: $font-ghiyastrokesbezl;
// font-family: $font-grustybrushespersonaluseregularpgo8o;
// font-family: $font-hostgardpersonaluse;
// font-family: $font-louisfelligrilight;
// font-family: $font-magicbrushgoz2p;
// font-family: $font-meekerenregular-9ylj2;
// font-family: $font-meekerenregularlg6vw;
// font-family: $font-mostlybrightpersonalusewywoz;
// font-family: $font-motterdam;
// font-family: $font-oachimdemoregular-5176x;
// font-family: $font-qillseyeinsteineapw9;
// font-family: $font-rainlyregularovl7o;
// font-family: $font-tonybhageslgzaw;

// font-family: $font-autterademoxrng5;
// font-family: $font-quikersyzxwl;
// font-family: $font-shinypaintzpwez;
