@font-face {
  font-family: 'AutterademoXRnG5';
  src: url('/Font/Autterademo-xRnG5.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BrisketLgjDD';
  src: url('/Font/Brisket-lgjDD.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BrotherlandsignatureBold';
  src: url('/Font/BrotherlandsignatureBold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BrushStrokesQ6B5';
  src: url('/Font/BrushStrokes-q6B5.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CfBrooshyDemoRegular-1jPg2';
  src: url('/Font/CfBrooshyDemoRegular-1jPg2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Distropiax';
  src: url('/Font/Distropiax.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Distropiax';
  src: url('/Font/Distropiax.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GhiyaStrokes-1Kv4';
  src: url('/Font/GhiyaStrokes-1Kv4.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GhiyaStrokesBEZl';
  src: url('/Font/GhiyaStrokes-BEZl.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GrustyBrushesPersonalUseRegularPgo8O';
  src: url('/Font/GrustyBrushesPersonalUseRegular-pgo8O.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HostgardPersonalUse';
  src: url('/Font/HostgardPersonalUse.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LouisfelligriLight';
  src: url('/Font/LouisfelligriLight.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MagicBrushGOz2P';
  src: url('/Font/MagicBrush-GOz2P.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MeekerenRegular-9YLj2';
  src: url('/Font/MeekerenRegular-9YLj2.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MeekerenRegularLg6vw';
  src: url('/Font/MeekerenRegular-lg6vw.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MostlyBrightPersonalUseWywoz';
  src: url('/Font/MostlyBrightPersonalUse-Wywoz.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Motterdam';
  src: url('/Font/Motterdam.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Motterdam';
  src: url('/Font/Motterdam.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OachimDemoRegular-5176x';
  src: url('/Font/OachimDemoRegular-5176x.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'QillseyeinsteinEapW9';
  src: url('/Font/Qillseyeinstein-EapW9.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'QuikersYzXwL';
  src: url('/Font/Quikers-YzXwL.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RainlyRegularOVl7O';
  src: url('/Font/RainlyRegular-OVl7O.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ShinyPaintZpWEZ';
  src: url('/Font/ShinyPaint-ZpWEZ.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TonyBhagesLgZaw';
  src: url('/Font/TonyBhages-lgZaw.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

$font-autterademoxrng5: 'AutterademoXRnG5', sans-serif;
$font-brisketlgjdd: 'BrisketLgjDD', sans-serif;
$font-brotherlandsignaturebold: 'BrotherlandsignatureBold', sans-serif;
$font-brushstrokesq6b5: 'BrushStrokesQ6B5', sans-serif;
$font-cfbrooshydemoregular-1jpg2: 'CfBrooshyDemoRegular-1jPg2', sans-serif;
$font-distropiax: 'Distropiax', sans-serif;
$font-ghiyastrokes-1kv4: 'GhiyaStrokes-1Kv4', sans-serif;
$font-ghiyastrokesbezl: 'GhiyaStrokesBEZl', sans-serif;
$font-grustybrushespersonaluseregularpgo8o: 'GrustyBrushesPersonalUseRegularPgo8O', sans-serif;
$font-hostgardpersonaluse: 'HostgardPersonalUse', sans-serif;
$font-louisfelligrilight: 'LouisfelligriLight', sans-serif;
$font-magicbrushgoz2p: 'MagicBrushGOz2P', sans-serif;
$font-meekerenregular-9ylj2: 'MeekerenRegular-9YLj2', sans-serif;
$font-meekerenregularlg6vw: 'MeekerenRegularLg6vw', sans-serif;
$font-mostlybrightpersonalusewywoz: 'MostlyBrightPersonalUseWywoz', sans-serif;
$font-motterdam: 'Motterdam', sans-serif;
$font-oachimdemoregular-5176x: 'OachimDemoRegular-5176x', sans-serif;
$font-qillseyeinsteineapw9: 'QillseyeinsteinEapW9', sans-serif;
$font-quikersyzxwl: 'QuikersYzXwL', sans-serif;
$font-rainlyregularovl7o: 'RainlyRegularOVl7O', sans-serif;
$font-shinypaintzpwez: 'ShinyPaintZpWEZ', sans-serif;
$font-tonybhageslgzaw: 'TonyBhagesLgZaw', sans-serif;
