@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Andika&family=Bellefair&family=Capriola&family=Flamenco&family=Forum&family=Fredericka+the+Great&family=GFS+Neohellenic&family=Philosopher&family=Pompiere&family=Tenali+Ramakrishna&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Finlandica&family=Foldit&family=Fredericka+the+Great&family=Gemunu+Libre&family=Geo&family=Lekton&family=Lexend+Peta&family=Lexend+Tera&family=Martian+Mono&family=MuseoModerno&family=Orbit&family=Rubik+Dirt&family=Shippori+Antique&family=Tourney&family=Train+One&family=Tulpen+One&display=swap');


* {
  outline: none;
  box-sizing: border-box;
  cursor: url(https://cur.cursors-4u.net/cursors/cur-11/cur1054.cur), auto !important;
  
  @media (width >=640px) {
    cursor: none !important;
  }
}

html,
body {
  max-width: 100vw;
  margin: 0px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

body {
  background: rgb(231, 221, 211);
  overflow-x: hidden;
  background-image: url("https://res.cloudinary.com/daspiwjet/image/upload/v1742818161/Shubukan/Assets/iksgnmlpeljd7mugtrba.jpg");
  background-size: 250px 250px;
}

body::-webkit-scrollbar {
  width: 8px;
  height: 5px;
  background: white;
}

body::-webkit-scrollbar-thumb {
  background: black;
  border-top: solid 10px tomato;
  border-bottom: solid 10px tomato;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .App::before {
  z-index: 0;
  position: absolute;
  content: '';
  inset: 0;
  width: 200%;
  height: 400px;
  left: -100px;
  top: -80px;
  background: linear-gradient(0deg, transparent 5%, rgb(208, 131, 68) 100%);
  background: firebrick;
  filter: url(#wobble);
} */

@media screen and (max-width: 800px) {
  .App::before {
    height: 300px;
  }
}

@media screen and (max-width: 500px) {
  .App::before {
    height: 250px;
  }
}

.wobble {
  position: absolute;
}

.webBody {
  position: relative;
  z-index: 2;
  height: fit-content;
  min-height: calc(100vh - 610px);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow-x: hidden;

  /* background-image: url("https://res.cloudinary.com/daspiwjet/image/upload/v1742818161/Shubukan/Assets/iksgnmlpeljd7mugtrba.jpg");
  background-size: 250px 250px; */
}

/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: #905043;
  -webkit-box-shadow: 0 0 0px 1000px #efe9e5d4 inset;
} */

.notFound {
  filter: opacity(1);
  transform: scale(1);
  animation-name: notFound;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
}

@keyframes notFound {
  0% {
    filter: opacity(0);
    transform: scale(.8);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    filter: opacity(1);
    transform: scale(1);
  }

}