@import '../../assets/variables';

.ShubukanOkinawa {
    // border: 1px solid red;
    height: fit-content;
    width: 80%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10rem;

    @media screen and (max-width: 600px) {
        padding-top: 8rem;
    }
    @media screen and (max-width: 500px) {
        padding-top: 6rem;
    }
    @media screen and (max-width: 400px) {
        width: 90%;
        padding-top: 6rem;
    }

    & .Hero {
        width: 100%;
        height: fit-content;
        // margin-bottom: 8rem;
        // padding-top: 1rem;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        & .img-div {
            // top: 50%;
            // left: 50%;
            // transform: translate(-50%, -50%);
            // position: absolute;
            // width: 100%;
            // border: solid 1px red;
            margin: 50 0px;
            height: fit-content;
            margin: 40px 0;
            border-radius: 8px;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            background: rgb(15, 15, 15);
            filter: sepia(30%) grayscale(30%);
            // -webkit-mask-image: url('data:image/svg+xml;utf8,<svg preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" viewBox="0 0 100 100" xml:space="preserve"><style type="text/css">.blur{filter:url(%23softedge);}</style><filter id="softedge"><feGaussianBlur stdDeviation="3.5"></feGaussianBlur></filter><g class="blur"><rect x="10" y="-20" width="80" height="140"/></g></svg>');
            // -webkit-mask-size: cover;

            & img {
                width: 100%;
                border-radius: 8px;
                // min-width: 100%;
                // border-top-right-radius: 10px;
                // border-top-left-radius: 10px;
                filter: sepia(30%) grayscale(30%);
                // opacity: 1;
            }
        }

        & h1 {
            margin: 1.5rem 0 2rem;
            color: #2a2727;
            font-size: 3.5rem;
            letter-spacing: 0.2rem;
            // font-family: 'Amarante', cursive;
            // font-family: 'Andika', sans-serif;
            // font-family: 'Bellefair', serif;
            // font-family: 'Capriola', sans-serif;
            // font-family: 'Flamenco', cursive;
            font-family: 'Fredericka the Great', cursive;
            // font-family: 'GFS Neohellenic', sans-serif;
            // font-family: 'Pompiere', cursive;
            // font-family: 'Tenali Ramakrishna', sans-serif;

            &::selection {
                color: $---selection-color;
                background: $---selection-bg;
            }

            @media screen and (max-width: 700px) {

                font-size: 3rem;
            }

            @media screen and (max-width: 400px) {

                font-size: 2.8rem;
            }
        }

        & p {
            font-size: 1.5rem;
            text-align: justify;
            // font-family: 'Amarante', cursive;
            // font-family: 'Andika', sans-serif;
            // font-family: 'Bellefair', serif;
            // font-family: 'Capriola', sans-serif;
            // font-family: 'Flamenco', cursive;
            // font-family: 'Fredericka the Great', cursive;
            font-family: 'GFS Neohellenic', sans-serif;
            // font-family: 'Pompiere', cursive;
            // font-family: 'Tenali Ramakrishna', sans-serif;

            &::selection {
                color: $---selection-color;
                background: $---selection-bg;
            }

            @media screen and (max-width: 500px) {
                    font-size: 1.3rem;
            }
        }

        & .family {
            // border: 1px solid rgb(0, 0, 0);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin: 200px 0 100px;
            // height: 200px;
            gap: 20px;

            & .parent {
                transform: translateY(-60px);
                // border: 1px solid red;
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center;

                width: 100%;

                & img {
                    width: 100%;
                    object-fit: cover;
                    border-radius: 8px;
                }
            }

            & .child {
                transform: translateY(50px);
                // border: 1px solid red;
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center;

                width: 100%;

                & img {
                    width: 100%;
                    object-fit: cover;
                    border-radius: 8px;
                }
            }

            & p {
                font-size: 1.5rem;
                text-align: center;
                line-height: 20px;
                // font-family: 'Amarante', cursive;
                // font-family: 'Andika', sans-serif;
                // font-family: 'Bellefair', serif;
                // font-family: 'Capriola', sans-serif;
                // font-family: 'Flamenco', cursive;
                // font-family: 'Fredericka the Great', cursive;
                // font-family: 'GFS Neohellenic', sans-serif;
                // font-family: 'Pompiere', cursive;
                font-family: 'Tenali Ramakrishna', sans-serif;

                &::selection {
                    color: $---selection-color;
                    background: $---selection-bg;
                }
            }
        }

        & .link {
            height: 40px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            margin: 40px 0;
            // border: 1px solid red;

            & .label {
                line-height: 50px;
                text-align: center;
                font-weight: 700;
                font-size: 1.5rem;

                color: #2a2727;
                // border: 1px solid red;
            }

            & .opt {
                // font-family: 'Amarante', cursive;
                // font-family: 'Andika', sans-serif;
                // font-family: 'Bellefair', serif;
                // font-family: 'Capriola', sans-serif;
                // font-family: 'Flamenco', cursive;
                // font-family: 'Fredericka the Great', cursive;
                // font-family: 'GFS Neohellenic', sans-serif;
                // font-family: 'Pompiere', cursive;
                font-family: 'Tenali Ramakrishna', sans-serif;

                line-height: 20px;
                text-align: center;
                font-weight: 700;
                font-size: 1.2rem;
                margin-top: 3px;
                text-decoration: none;
                // line-height: 0;
                color: #2a2727;
            }
        }

        @media screen and (max-width: 900px) {
            & .family {
                & p {
                    font-size: 1.2rem;
                }
            }
        }

        @media screen and (max-width: 800px) {
            & h1 {
                margin: 1.5rem 0 2rem;
                color: #2a2727;
                font-size: 3rem;
                letter-spacing: 0.2rem;
            }

            & .img-div {
                padding: 0 80px;
            }



            // & p {
            //     font-size: 1.2rem;
            // }
        }

        @media screen and (max-width: 600px) {
            & h1 {
                margin: 1.5rem 0 2rem;
                color: #2a2727;
                font-size: 2.8rem;
                letter-spacing: 0.2rem;
            }

            & .img-div {
                padding: 0 10PX;
            }

            & .family {
                margin: 80px 0;

                & p {
                    font-size: 1.2rem;
                }
            }

            & .link {
                margin: 20px 0;
            }

            // & p {
            //     font-size: 1rem;
            // }
        }

        @media screen and (max-width: 400px) {
            & h1 {
                margin: 1.5rem 0 2rem;
                color: #2a2727;
                font-size: 2.8rem;
                letter-spacing: 0.2rem;
            }

            & .img-div {
                padding: 0;
            }

            // & p {
            //     font-size: 1rem;
            // }
        }
    }
}