@import '../../styles/_variables';
@import '../../styles/_Fonts.scss';

*::selection {
  color: $---selection-color;
  background: $---selection-bg;
}

.AdminDashboard {
  // font-family: $font-autterademoxrng5;
  // font-family: $font-shinypaintzpwez;
  font-family: $font-quikersyzxwl;
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  @media screen and (max-width: 500px) {}

  & .header {
    width: 105px;
    height: fit-content;
    top: 20px;
    left: 0%;
    padding: 8px 16px;
    margin-left: -5px;
    z-index: 4;
    position: fixed;

    &::before {
      position: absolute;
      content: '';
      inset: 0;
      background: #fed;
      border-radius: 0 10px 10px 0;
      filter: url(#wobble);
      // transform: rotate(-1deg);
      z-index: -1;
      border-top: 1px solid rgba(255, 255, 255, 0.42);
      border-left: 1px solid rgba(255, 255, 255, 0.42);
      border-bottom: 1px solid rgba(119, 90, 90, 0.4);
      border-right: 1px solid rgba(119, 90, 90, 0.4);
      box-shadow: 1px 2px 8px rgba(24, 10, 3, 0.4);
      background-image: url(https://res.cloudinary.com/dangvxnul/image/upload/v1716225651/paper-dark_fuujeq.jpg);
      background-size: 100px;
      transition: 300ms;
    }

    & p {
      text-align: center;
      width: 100%;
      font-size: 26px;
      // letter-spacing: 1px;
      margin: 0%;
      padding: 0%;
    }

    animation-name: DashSlide;
    animation-duration: .4s;
    animation-timing-function: ease-in-out;

    @keyframes DashSlide {
      from {
        margin-left: -105px;
      }

      to {
        margin-left: -5px;
      }
    }
  }

  & .dashBoard {
    width: 100%;
    height: 100%;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 26px;

    & .editBoard {
      width: 100%;
      height: fit-content;
      padding: 5px 8px 20px 8px;
      z-index: 1;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 10px;
      transition: all 0.5s ease-out allow-discrete;

      &::before {
        position: absolute;
        content: '';
        inset: 0;
        background: #fed;
        border-radius: 5px;
        filter: url(#wobble);
        // transform: rotate(-1deg);
        z-index: -1;
        border-top: 1px solid rgba(255, 255, 255, 0.42);
        border-left: 1px solid rgba(255, 255, 255, 0.42);
        border-bottom: 1px solid rgba(119, 90, 90, 0.4);
        border-right: 1px solid rgba(119, 90, 90, 0.4);
        box-shadow: 1px 2px 2px rgba(24, 10, 3, 0.116);
        background-image: url(https://res.cloudinary.com/dangvxnul/image/upload/v1716225651/paper-dark_fuujeq.jpg);
        background-size: 100px;
        transition: 300ms;
      }


      & .boardHeading {
        margin: 0;
        padding: 0;
        letter-spacing: 1px;
        font-size: 20px;
      }
      
      & .boardInput {
        display: flex;
        flex-direction: column;

        & label {
          letter-spacing: 1px;
          text-transform: capitalize;
        }
        & input {
          width: 100%;
          margin-bottom: 10px;
        }
      }

      & .boardPreview {}
    }
  }
}