@import '../../assets/variables';

.History {
    // border: 1px solid red;
    padding-top: 10rem;
    max-width: 1000px;
    height: fit-content;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 800px) {
        padding-top: 5rem;
    }

    @media screen and (max-width: 431px) {
        width: 90%;
    }

    & img {
        border-radius: 10px;
        filter: sepia(30%) grayscale(30%);
    }

    & .Hero {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        // margin-bottom: 8rem;
        padding-top: 3rem;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        & h1 {
            margin: 1.5rem 0 2rem;
            color: #2a2727;
            font-size: 3.5rem;
            letter-spacing: 0.2rem;
            // font-family: 'Amarante', cursive;
            // font-family: 'Andika', sans-serif;
            // font-family: 'Bellefair', serif;
            // font-family: 'Capriola', sans-serif;
            // font-family: 'Flamenco', cursive;
            font-family: 'Fredericka the Great', cursive;
            // font-family: 'GFS Neohellenic', sans-serif;
            // font-family: 'Pompiere', cursive;
            // font-family: 'Tenali Ramakrishna', sans-serif;

            &::selection {
                color: $---selection-color;
                background: $---selection-bg;
            }
        }

        & .hero-content {
            & .hero-img {
                width: 100%;
                margin: 40px 0 0 0;
            }

            & p {
                margin: 0;
                font-size: 20px;
                width: 100%;
                text-align: right;
                font-style: italic;

                // font-family: 'Amarante', cursive;
                // font-family: 'Andika', sans-serif;
                font-family: 'Bellefair', serif;
                // font-family: 'Capriola', sans-serif;
                // font-family: 'Flamenco', cursive;
                // font-family: 'Forum', cursive;
                // font-family: 'Fredericka the Great', cursive;
                // font-family: 'GFS Neohellenic', sans-serif;
                // font-family: 'Philosopher', sans-serif;
                // font-family: 'Pompiere', cursive;
                // font-family: 'Tenali Ramakrishna', sans-serif;
                // font-family: 'Faster One';
                // font-family: 'Finlandica';
                // font-family: 'Foldit';
                // font-family: 'Gemunu Libre';
                // font-family: 'Geo';
                // font-family: 'Lekton';
                // font-family: 'Lexend Peta';
                // font-family: 'Lexend Tera';
                // font-family: 'Martian Mono';
                // font-family: 'MuseoModerno';
                // font-family: 'Orbit';
                // font-family: 'Rubik Dirt';
                // font-family: 'Shippori Antique';
                // font-family: 'Tourney';
                // font-family: 'Train One';
                // font-family: 'Tulpen One';
                // font-family: 'swap';
            }
        }

        @media screen and (max-width: 700px) {
            & .hero-content {
                & p {
                    font-size: 18px;
                }
            }
        }

        @media screen and (max-width: 400px) {

            & h1 {
                margin: 1.5rem 0 2rem;
                color: #2a2727;
                font-size: 2.8rem;
                letter-spacing: 0.2rem;
            }
        }
    }

    & .content {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        margin-bottom: 6rem;
        padding-top: 3rem;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        & p {
            font-size: 1.5rem;
            text-align: justify;
            // font-family: 'Amarante', cursive;
            // font-family: 'Andika', sans-serif;
            // font-family: 'Bellefair', serif;
            // font-family: 'Capriola', sans-serif;
            // font-family: 'Flamenco', cursive;
            // font-family: 'Fredericka the Great', cursive;
            font-family: 'GFS Neohellenic', sans-serif;
            // font-family: 'Pompiere', cursive;
            // font-family: 'Tenali Ramakrishna', sans-serif;

            &::selection {
                color: $---selection-color;
                background: $---selection-bg;
            }
        }

        & .comment {
            margin: 10px 0;
            font-size: 20px;
            width: 100%;
            text-align: center;
            font-style: italic;

            font-family: 'Bellefair', serif;

            @media screen and (max-width: 700px) {
                font-size: 18px;
            }
        }

        & .maps {
            margin: 10px 0;
            // border: 1px solid;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            & img {
                // height: 100%;
                width: 40%;
                border-radius: 5px;
            }
        }

        & .bottom-img {
            width: 100%;
            margin: 40px 0 10px 0;
        }

        & .sketchfab-embed-wrapper {
            margin: 50px 0 10px 0;
            width: 100% !important;
            height: 480px;
            & iframe {
                border-radius: 10px;
                width: 100%;
                height: 100%;
            }
            @media screen and (max-width: 800px) {
                height: 360px;
            }
            @media screen and (max-width: 600px) {
                height: 300px;
            }
            @media screen and (max-width: 500px) {
                height: 260px;
            }
            @media screen and (max-width: 431px) {
                height: 250px;
            }
        }

        @media screen and (max-width: 700px) {
            & h1 {
                margin: 1.5rem 0 2rem;
                color: #2a2727;
                font-size: 3rem;
                letter-spacing: 0.2rem;
            }
        }

        @media screen and (max-width: 500px) {
            padding-top: 1.5rem;

            & .maps {

                & img {
                    // height: 100%;
                    width: 45%;
                }
            }

            & p {
                font-size: 1.3rem;
            }
        }

        @media screen and (max-width: 400px) {
            padding-top: 1rem;
        }
    }
}