@import '../../../styles/variables';
@import '../../../styles/Fonts';
@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Andika&family=Bellefair&family=Capriola&family=Flamenco&family=Forum&family=Fredericka+the+Great&family=GFS+Neohellenic&family=Philosopher&family=Pompiere&family=Tenali+Ramakrishna&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Finlandica&family=Foldit&family=Fredericka+the+Great&family=Gemunu+Libre&family=Geo&family=Lekton&family=Lexend+Peta&family=Lexend+Tera&family=Martian+Mono&family=MuseoModerno&family=Orbit&family=Rubik+Dirt&family=Shippori+Antique&family=Tourney&family=Train+One&family=Tulpen+One&display=swap');

.BlogPost {
    padding-top: 10rem;
    padding-bottom: 140px;
    max-width: 1000px;
    height: fit-content;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 800px) {
        padding-top: 9rem;
        padding-bottom: 100px;
    }

    @media screen and (max-width:700px) {
        padding-top: 8rem;
    }

    @media screen and (max-width:550px) {
        padding-top: 7rem;
        width: 90%;
        padding-bottom: 80px;
    }

    @media screen and (max-width: 431px) {
        width: 90%;
        padding-bottom: 50px;
    }

    & .BlogPostPage {
        width: 100%;
    }
}
