@import '../../styles/variables';

.Footer {
    z-index: 2;
    position: relative;
    height: fit-content;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: linear-gradient(0deg, $---accent7 10%, transparent 80%);

    // background-image: url("https://res.cloudinary.com/daspiwjet/image/upload/v1742818161/Shubukan/Assets/iksgnmlpeljd7mugtrba.jpg");
    // box-shadow: inset 0px -680px 80px -200px $---accent7; // original
    // box-shadow: inset 0px -650px 80px -200px $---accent7;
    // background-size: 250px 250px;
    // border: solid 1px blueviolet;

    & #cloud-circle {
        // border: solid 1px blueviolet;
        z-index: -1;
        width: 200vw;
        height: 50%;
        border-radius: 0%;
        filter: url(#filter);
        // X-axis, Y-axis, Blur-radius, Spread-radius, Color
        box-shadow: -100px -150px 150px 100px $---accent7;
        background: $---accent7;
        position: absolute;
        bottom: -5px;
        bottom: 0px;
        left: -20px;
        // transform: translate(-50%, -50%);
    }

    & .footSub {
        z-index: 1;
        width: 50%;

        padding: 1rem;
        margin: 10rem 0 2rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        // height: 50%;
        // margin-top: 8rem;
        border: solid 1px rgb(57, 229, 45);
        transition: 200ms;

        & h1 {
            margin: 0;
            // border: solid yellow;
            text-align: center;
            color: #686060;
            font-size: 1.7rem;
            line-height: 2.5rem;
            font-family: 'Forum', cursive;
            user-select: none;
            transition: 200ms;
        }

        & .underLine {
            // border-bottom: solid 2px #5f443f;
            background: radial-gradient(circle, rgba(64, 61, 60, 0.5) 20%, transparent 100%);
            width: 10rem;
            height: 2px;
            // transform: translate(0%);
            transition: 200ms;
        }

        &:hover {
            transition: 200ms;

            & h1 {
                text-shadow: 0 0 10px #b8aa8fa7;
            }

            & .underLine {
                width: 20rem;
                // transform: translate(-20%);
                background: radial-gradient(circle, rgba(64, 61, 60, 0.5) 0%, transparent 100%);
            }
        }
    }

    & .footContent {
        width: 80%;
        height: 10rem;
        margin: 60px 0 80px 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        // border: solid red 1px;

        text-decoration: none;

        & p {
            text-decoration: none;
            font-size: 1.2rem;
            line-height: 20px;
            margin: 7px 0;
            color: $---accent9;
            font-family: 'Tenali Ramakrishna', sans-serif;

            user-select: none;
        }

        & a:-webkit-any-link {
            color: $---accent9;
            cursor: pointer;
            text-decoration: none;
        }

        & .footOptions1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;

            width: 10rem;
            margin-right: 4rem;
            transition: 200ms;
        }

        & .footOptions2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 4rem;
            transition: 200ms;
        }

        & .footOptions3 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            width: 10rem;
            margin-left: 4rem;
            transition: 200ms;
            text-decoration: none;

            & .nav {
                text-decoration: none;

                & p {
                    text-decoration: none;
                }
            }
        }

        & .midLine {
            height: 100%;
            width: 1px;
            background: linear-gradient($---accent9, transparent);
            background: #EBE0D6;
            background: linear-gradient(0deg, rgba(235, 224, 214, 0) 0%, rgba(235, 224, 214, 1) 90%, rgba(235, 224, 214, 0) 100%);
        }

        @media screen and (max-width: 880px) {
            & .footOptions1 {
                width: 10rem;
                margin-right: 40px;
            }

            & .footOptions2 {
                margin: 0 40px;
            }

            & .footOptions3 {
                width: 10rem;
                margin-left: 40px;
            }
        }

        @media screen and (max-width: 760px) {
            & .footOptions1 {
                width: 130px;
                margin-right: 30px;
            }

            & .footOptions2 {
                margin: 0 30px;
            }

            & .footOptions3 {
                width: 130px;
                margin-left: 30px;
            }
        }

        @media screen and (max-width: 635px) {
            width: 90%;
            height: 10rem;

            & .footOptions1 {
                width: 10rem;
                margin-right: .5rem;
                text-align: left;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
            }

            & .footOptions2 {
                margin: 0 1rem;
                text-align: center;
            }

            & .footOptions3 {
                width: 10rem;
                margin-left: .5rem;
                text-align: right;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
            }
        }

        @media screen and (max-width: 400px) {

            & .footOptions1 {
                width: 7rem;
                margin-right: 2px;
            }

            & .footOptions2 {
                margin: 0 2px;
                width: 7rem;
            }

            & .footOptions3 {
                width: 7rem;
                margin-left: 2px;
            }
        }

        @media screen and (max-width: 370px) {
            height: 8rem;
            margin: 60px 0 60px 0;

            & p {
                font-size: 1rem;
            }

            & .footOptions1 {
                width: 6rem;
                margin-right: 2px;
            }

            & .footOptions2 {
                margin: 0 2px;
                width: 7rem;
            }

            & .footOptions3 {
                width: 6rem;
                margin-left: 2px;
            }
        }
    }

    & .footLogo {
        height: 12rem;
        width: 80%;
        margin-bottom: 2rem;

        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;

        transition: 300ms;

        & img {
            height: 100%;
            width: auto;
            // filter: sepia(10%) grayscale(10%);
            // filter: invert(100%);
            user-select: none;
            display: block;
            background-size: contain;
            transition: 200ms;
        }

        @media screen and (max-width: 800px) {
            height: 10rem;
        }

        @media screen and (max-width: 700px) {
            height: 9rem;
            gap: 1rem;
        }

        @media screen and (max-width: 600px) {
            height: 8rem;
            gap: .8rem;
        }

        @media screen and (max-width: 500px) {
            height: 7rem;
            gap: .5rem;
        }

        @media screen and (max-width: 400px) {
            height: 6.5rem;
            gap: .2rem;
        }

        @media screen and (max-width: 360px) {
            height: 5rem;
            gap: .25rem;
        }

        @media screen and (max-width: 300px) {
            height: 5rem;
            gap: .1rem;
        }
    }

    & .footLine {
        height: 1px;
        width: 100%;
        margin: 1rem 0;
        background: radial-gradient(circle, $---accent9 20%, transparent 100%);
    }

    & .footExtra {
        width: 100%;
        // padding: 0 1rem;
        // border: solid red 1px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 25px;

        & p {
            margin: 0 1rem 1rem;
            font-size: .8rem;
            font-family: Arial, Helvetica, sans-serif;
            color: $---accent9;
            user-select: none;
        }
    }

    & .footHillLeft {
        width: 450px;
        top: -240px;
        transition: 300ms;
        user-select: none;
    }

    & .footHillRight {
        width: 450px;
        top: -265px;
        transition: 300ms;
        user-select: none;
    }

    @media screen and (max-width: 1300px) {

        & .footHillLeft {
            width: 400px;
            top: -195px;
        }

        & .footHillRight {
            width: 400px;
            top: -210px;
        }


    }

    @media screen and (max-width: 800px) {

        & .footHillLeft {
            width: 330px;
            top: -120px;
        }

        & .footHillRight {
            width: 330px;
            top: -150px;
        }

        & #cloud-circle {
            box-shadow: -100px -180px 100px 50px $---accent7;
            // bottom: -20px;
        }
    }

    @media screen and (max-width: 700px) {
        & .footHillLeft {
            width: 330px;
            top: -120px;
        }

        & .footHillRight {
            width: 330px;
            top: -150px;
        }

        & #cloud-circle {
            box-shadow: -100px -175px 100px 50px $---accent7;
            // bottom: -25px;
        }
    }

    @media screen and (max-width: 660px) {
        & .footHillLeft {
            width: 290px;
            top: -90px;
        }

        & .footHillRight {
            width: 290px;
            top: -124px;
        }

        & #cloud-circle {
            box-shadow: -100px -170px 100px 50px $---accent7;
            // bottom: -30px;
        }
    }

    @media screen and (max-width: 560px) {
        & .footHillLeft {
            width: 250px;
            top: -85px;
        }

        & .footHillRight {
            width: 250px;
            top: -100px;
        }

        & #cloud-circle {
            box-shadow: -100px -165px 90px 50px $---accent7;
            // bottom: -35px;
        }
    }

    @media screen and (max-width: 460px) {
        & .footHillLeft {
            width: 220px;
            top: -60px;
        }

        & .footHillRight {
            width: 220px;
            top: -70px;
        }

        & #cloud-circle {
            box-shadow: -100px -160px 90px 50px $---accent7;
            // bottom: -40px;
        }
    }

    @media screen and (max-width: 370px) {
        & .footHillLeft {
            width: 190px;
            top: -50px;
        }

        & .footHillRight {
            width: 190px;
            top: -60px;
        }

        & #cloud-circle {
            box-shadow: -100px -160px 80px 30px $---accent7;
            // bottom: -40px;
        }
    }

    @media screen and (max-width: 360px) {

        & .footHillLeft {
            top: -50px;
        }

        & .footHillRight {
            top: -60px;
        }

        & #cloud-circle {
            box-shadow: -100px -160px 70px 10px $---accent7;
            // bottom: -65px;
        }
    }

    @media screen and (max-width: 340px) {

        & .footHillLeft {
            width: 180px;
            top: -40px;
        }

        & .footHillRight {
            width: 180px;
            top: -50px;
        }
    }
}