@import '../../styles/variables';
@import '../../styles/Fonts';
@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Andika&family=Bellefair&family=Capriola&family=Flamenco&family=Forum&family=Fredericka+the+Great&family=GFS+Neohellenic&family=Philosopher&family=Pompiere&family=Tenali+Ramakrishna&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Finlandica&family=Foldit&family=Fredericka+the+Great&family=Gemunu+Libre&family=Geo&family=Lekton&family=Lexend+Peta&family=Lexend+Tera&family=Martian+Mono&family=MuseoModerno&family=Orbit&family=Rubik+Dirt&family=Shippori+Antique&family=Tourney&family=Train+One&family=Tulpen+One&display=swap');


.Blog {
    // border: 1px solid red;
    padding-top: 10rem;
    max-width: 1000px;
    height: fit-content;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 800px) {
        padding-top: 9rem;
    }

    @media screen and (max-width:700px) {
        padding-top: 8rem;
    }

    @media screen and (max-width:550px) {
        padding-top: 7rem;
    }

    @media screen and (max-width: 431px) {
        width: 90%;
    }

    & .blogPage {
        // outline: solid 2px blue;
        width: 100%;

        & .blogHero {
            // outline: solid 3px red;
            width: 100%;
            height: fit-content;
            margin-bottom: 2rem;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            & .heading {
                margin: 1.5rem 0 2rem;
                color: #2a2727;
                letter-spacing: 0.2rem;
                font-size: 6rem;

                font-family: $font-rainlyregularovl7o;

                &::selection {
                    color: $---selection-color;
                    background: $---selection-bg;
                }
            }

            & p {
                margin: 0;
                font-size: 1.5rem;
                font-family: 'Amarante', cursive;

                &::selection {
                    color: $---selection-color;
                    background: $---selection-bg;
                }
            }

            @media screen and (max-width: 700px) {
                & .heading {
                    margin: 0rem 0 2rem;
                    font-size: 5rem;
                }

                & p {
                    font-size: 1.2rem;
                }
            }

            @media screen and (max-width: 400px) {
                margin-bottom: 0;

                & .heading {
                    margin: 0rem 0 1rem;
                    font-size: 3.6rem;
                }

                & p {
                    font-size: 1rem;
                }
            }
        }

        & .blogNav {
            // outline: solid 3px rgb(255, 0, 0);

            width: 100%;
            height: fit-content;

            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;

            & .opt {
                background-color: burlywood;
                padding: 4px 8px;
                border-radius: 5px;
                font-size: .9rem;

                font-family: 'Andika', sans-serif;
                font-family: 'Philosopher', sans-serif;
                font-family: 'Finlandica';
                font-family: 'MuseoModerno';
                font-family: 'Orbit';


                &::selection {
                    color: $---selection-color;
                    background: $---selection-bg;
                }
            }
        }

        & .blogContent {
            // outline: solid 3px rgb(0, 217, 0);

            width: 100%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

        }

        & .blogFooter {
            // outline: solid 3px rgb(0, 132, 255);

            width: 100%;
            height: fit-content;
            // margin-bottom: 8rem;
            // padding-top: 3rem;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

        }
    }
}