@import '../../styles/variables';
@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Andika&family=Bellefair&family=Capriola&family=Flamenco&family=Forum&family=Fredericka+the+Great&family=GFS+Neohellenic&family=Philosopher&family=Pompiere&family=Tenali+Ramakrishna&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Finlandica&family=Foldit&family=Fredericka+the+Great&family=Gemunu+Libre&family=Geo&family=Lekton&family=Lexend+Peta&family=Lexend+Tera&family=Martian+Mono&family=MuseoModerno&family=Orbit&family=Rubik+Dirt&family=Shippori+Antique&family=Tourney&family=Train+One&family=Tulpen+One&display=swap');

.banner {
    z-index: 40;

    height: 25px;
    width: 100vw;
    max-width: 100%;

    overflow: hidden;
    position: fixed;
    bottom: 0%;
    left: 0%;

    display: flex;
    flex-direction: row;
    align-items: center;
    background: $---accent3;
    box-shadow: 0 0 5px $---accent1;

    &::selection {
        color: $---selection-color;
        background: $---selection-bg;
    }

    & .track {
        color: white;
        position: absolute;
        white-space: nowrap;
        will-change: transform;
        animation: marquee 20s linear infinite;

        // font-family: 'Finlandica';
        font-family: 'Lekton';
        // font-family: 'Martian Mono';
        // font-family: 'Orbit';
        // font-family: 'Andika', sans-serif;
        // font-family: 'Bellefair', serif;
        // font-family: 'Capriola', sans-serif;
        // font-family: 'GFS Neohellenic', sans-serif;

        & .content {
            margin: 0 !important;
            &::selection {
                color: $---selection-color;
                background: $---selection-bg;
            }
        }

        & a {
            font-weight: 600;
            color: rgb(255, 50, 50);
            text-decoration: none;

            &::selection {
                color: $---selection-color;
                background: $---selection-bg;
            }
        }
    }

    @keyframes marquee {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-50%);
        }
    }

}