@import '../../styles/variables';
@import '../../styles/Fonts.scss';

*::selection {
  color: $---selection-color;
  background: $---selection-bg;
}

.AdminDashboard {
  // font-family: $font-autterademoxrng5;
  // font-family: $font-shinypaintzpwez;
  // font-family: $font-quikersyzxwl;
  font-family: 'Forum', cursive;
  font-family: 'GFS Neohellenic', sans-serif;
  // font-family: 'Tenali Ramakrishna', sans-serif;

  height: fit-content;
  min-height: 100vh;
  width: 100vw;
  max-width: 1080px;
  padding: 10px 10px;
  gap: 26px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  @media screen and (max-width: 500px) {}

  & .wobble {
    position: absolute;
  }

  & button {
    height: fit-content;
    width: fit-content;
    padding: 4px 6px;
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    font-family: $font-geo;
    font-size: 22px;
    letter-spacing: 2px;
    transition: 200ms;

    &:hover {
      scale: 106%;
    }

    &:active {
      scale: 98%;
    }

    @media screen and (max-width: 480px) {
      font-size: 16px;
    }
  }

  & input,
  textarea {
    width: 100%;
    min-height: fit-content;
    // min-height: 24px;

    margin: 4px 0 10px 0;
    padding: 4px 5px 5px 5px;
    margin: 0 0 10px 0;
    padding: 10px;

    background: #ffffff68;
    border: 1px solid $---accent6;
    border-radius: 8px;
    outline: none;
    resize: vertical;

    font-size: 18px;
    letter-spacing: 1px;
    // font-family: $font-autterademoxrng5;
    // font-family: $font-quikersyzxwl;
    // font-family: $font-shinypaintzpwez;
    font-family: 'GFS Neohellenic', sans-serif;

    transition: 0.3s;
    overflow: hidden;

    &:focus {
      overflow-y: visible;
      background: #faf3ed;
      border: 1px solid $---accent1;
    }

    &:hover {
      overflow-y: visible;
      background: #faf3ed;
      border: 1px solid $---accent1;
    }

    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 0 50px 0 0;
      background: $---accent4;
      border-top: solid 5px $---accent1;
      border-bottom: solid 5px $---accent1;
      cursor: default;
    }
  }

  & input[type=file] {
    // font-size: 16px;
    // padding: 10px;
    // border: 2px solid #007bff;
    // border-radius: 5px;

    &::file-selector-button {
      font-family: 'GFS Neohellenic', sans-serif;
      background-color: #faf3ed;
      // color: white;
      padding: 2px 8px;
      border: none;
      border-radius: 5px;
      cursor: none;
      margin: 0 8px 0 0;
    }

    &::file-selector-button:hover {
      background-color: #d2b7a0;
    }

    &:hover {
      &::file-selector-button {
        background-color: #d2b7a0;
      }
    }
  }

  & .header {
    position: relative;
    z-index: 1;
    width: 100%;
    height: fit-content;
    padding: 12px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    font-family: $font-geo;
    transition: 300ms;

    &::before {
      background: #fed;
      position: absolute;
      content: '';
      inset: 0;
      border-radius: 5px;
      filter: url(#wobble);
      // transform: rotate(-1deg);
      z-index: -1;
      border-top: 1px solid rgba(255, 255, 255, 0.42);
      border-left: 1px solid rgba(255, 255, 255, 0.42);
      border-bottom: 1px solid rgba(119, 90, 90, 0.4);
      border-right: 1px solid rgba(119, 90, 90, 0.4);
      box-shadow: 1px 2px 2px rgba(24, 10, 3, 0.116);
      background-image: url(https://res.cloudinary.com/dangvxnul/image/upload/v1716225651/paper-dark_fuujeq.jpg);
      // filter: opacity(0.1);
      background-size: 100px;
      transition: 300ms;
    }

    & p {
      font-family: $font-geo;
      font-size: 22px;
      letter-spacing: 2px;
      transition: 200ms;
    }
  }

  & .editBoard {
    width: 100%;
    height: fit-content;
    padding: 5px 8px 20px 8px;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all 0.5s ease-out allow-discrete;

    &::before {
      background: #fed;
      position: absolute;
      content: '';
      inset: 0;
      border-radius: 5px;
      filter: url(#wobble);
      // transform: rotate(-1deg);
      z-index: -1;
      border-top: 1px solid rgba(255, 255, 255, 0.42);
      border-left: 1px solid rgba(255, 255, 255, 0.42);
      border-bottom: 1px solid rgba(119, 90, 90, 0.4);
      border-right: 1px solid rgba(119, 90, 90, 0.4);
      box-shadow: 1px 2px 2px rgba(24, 10, 3, 0.116);
      background-image: url(https://res.cloudinary.com/dangvxnul/image/upload/v1716225651/paper-dark_fuujeq.jpg);
      // filter: opacity(0.1);
      background-size: 100px;
      transition: 300ms;
    }


    & .boardHeading {
      margin: 0;
      padding: 0;
      letter-spacing: 1px;
      font-size: 20px;
      cursor: pointer;
      font-family: $font-geo;
    }
  }
}