@import '../../styles/_variables';
@import '../../styles/_Fonts';

.Hozonkai {
    // border: 1px solid red;
    height: fit-content;
    width: 80%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8rem;

    @media screen and (max-width: 400px) {
        width: 90%;
        // padding-top: 5rem;
    }

    & .Hero {
        width: 100%;
        height: fit-content;
        margin-bottom: 8rem;
        // padding-top: 3rem;

        display: flex;
        flex-direction: column;

        & .heading {
            margin: 1.5rem 0 2rem;
            color: #2a2727;
            letter-spacing: 0.1rem;
            font-size: 5rem;
            text-align: center;

            font-family: $font-rainlyregularovl7o;

            &::selection {
                color: $---selection-color;
                background: $---selection-bg;
            }
        }

        & p {
            font-size: 1.5rem;
            text-align: justify;
            // font-family: 'Amarante', cursive;
            // font-family: 'Andika', sans-serif;
            // font-family: 'Bellefair', serif;
            // font-family: 'Capriola', sans-serif;
            // font-family: 'Flamenco', cursive;
            // font-family: 'Fredericka the Great', cursive;
            font-family: 'GFS Neohellenic', sans-serif;
            // font-family: 'Pompiere', cursive;
            // font-family: 'Tenali Ramakrishna', sans-serif;

            &::selection {
                color: $---selection-color;
                background: $---selection-bg;
            }
        }

        & .img-div {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & img {
                width: 500px;
                max-width: 100%;
            }
        }

        & .links {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin-top: 2rem;

            & .link {
                display: flex;
                flex-direction: row;
                gap: 1rem;
                align-items: center;

                & .icon {
                    font-size: 2rem;
                    color: #2a2727;
                }

                & a {
                    font-size: 1.5rem;
                    color: #2a2727;
                    text-decoration: none;
                    font-family: $font-adelaiquemla3x;
                    font-family: $font-allittacalligraphy;
                    font-family: $font-antherbrush;
                    font-family: $font-asphaltsbrush;
                    font-family: $font-athoorstylebrushclean;
                    font-family: $font-availabrushdemo;
                    font-family: $font-baforaregulardemo;
                    font-family: $font-bakery;
                    
                    font-family: $font-bastingbrush;
                    font-family: $font-barossabrush;
                    font-family: $font-besttiabrush;
                    // font-size: 3rem;

                    font-family: $font-bastingbrushunderlines;
                    
                    // font-family: $font-belladonastencil;
                    // font-family: $font-bittermilk;
                    // font-family: $font-blacknapkinspersonaluse;
                    // font-family: $font-blastimosans;
                    // font-family: $font-blastimoswash;
                    // font-family: $font-blastimo;
                    // font-family: $font-brusheffectttf;
                    // font-family: $font-brushletter;
                    // font-family: $font-brushrenytha;
                    // font-family: $font-brushruksakfont;
                    // font-family: $font-brushelvapersonalused;
                    // font-family: $font-brushido;
                    // font-family: $font-brushielditalic;
                    // font-family: $font-brushield;
                    // font-family: $font-brushnyoe;
                    // font-family: $font-brushough;
                    // font-family: $font-brushstrokesq6b5;
                    // font-family: $font-brushter;
                    // font-family: $font-brushworkdemoregular;
                    // font-family: $font-btctrial;
                    // font-family: $font-btttrial;
                    // font-family: $font-bulgathi-4b8vx;
                    // font-family: $font-calligraphypersonaluse;
                    // font-family: $font-calligraphywetpersonaluse;
                    // font-family: $font-calligraphyd4pm;
                    // font-family: $font-calligraphywetax62;
                    // font-family: $font-cfbrooshydemoregular;
                    // font-family: $font-chidokuetrial;
                    // font-family: $font-cityburn;
                    // font-family: $font-cozybrush;
                    // font-family: $font-deysiabrush;
                    // font-family: $font-distropiax;
                    // font-family: $font-drybrush;
                    // font-family: $font-elementtaildemoyzy0v;
                    // font-family: $font-emitheybrushunderlines;
                    // font-family: $font-emitheybrush;
                    // font-family: $font-famousbrush;
                    // font-family: $font-feathergraphycleandmy1;
                    // font-family: $font-finestencil-dker;
                    // font-family: $font-freakartpersonaluseboldvmol7;
                    // font-family: $font-freakishdemoregular;
                    // font-family: $font-gardensans;
                    // font-family: $font-gebrush;
                    // font-family: $font-geishta;
                    // font-family: $font-generalissimofreeforpersonaluseonly;
                    // font-family: $font-germanikapersonaluseregularwdev;
                    
                    font-family: $font-ghiyastrokes-1kv4;
                    
                    // font-family: $font-ghiyastrokesbezl;
                    // font-family: $font-gingsuldemo;
                    // font-family: $font-grandparadisoregular;
                    // font-family: $font-grandparadisoitalicitalic;
                    // font-family: $font-grandparadisoscriptregular;
                    // font-family: $font-grungezindabad;
                    // font-family: $font-hakiofreetrial;
                    // font-family: $font-harmonyshinedemodyw5m;
                    // font-family: $font-harukazesolidx3wp9;
                    // font-family: $font-headbrush;
                    // font-family: $font-hendrixgroove;
                    // font-family: $font-highfighterovw6p;
                    // font-family: $font-hostgardpersonaluse;
                    // font-family: $font-japanversion;
                    // font-family: $font-jasminescript;
                    // font-family: $font-jastlandgoa8g;
                    // font-family: $font-jesterbrush;
                    // font-family: $font-jmhpsychedeliccaps;
                    // font-family: $font-jmhwolfa;
                    // font-family: $font-kareudonfont;
                    // font-family: $font-kellybrush;
                    // font-family: $font-kikeletbrush;
                    // font-family: $font-kreakersbrushdemo;
                    // font-family: $font-kronabyregular;
                    // font-family: $font-linebrush;
                    // font-family: $font-magicbrushgoz2p;
                    // font-family: $font-mansionsbrushscript;
                    // font-family: $font-mbthinktwiceregular;
                    // font-family: $font-meekerenregularlg6vw;
                    // font-family: $font-mexicanpridebyaspekhndz;
                    // font-family: $font-mgs4brush;
                    // font-family: $font-mingimperial-5308;
                    // font-family: $font-modernbrushstyleserifpersonaluseonly;
                    // font-family: $font-motterdam;
                    // font-family: $font-oachimdemoregular-5176x;
                    // font-family: $font-onebrushlight;
                    // font-family: $font-oyangebrush;
                    // font-family: $font-oyange;
                    // font-family: $font-paintbrushscriptregular;
                    // font-family: $font-paintingwithchocolate;
                    // font-family: $font-paleblueeyes;
                    // font-family: $font-predatorbrushed;
                    // font-family: $font-railwaytohells;
                    // font-family: $font-rasterbrush;
                    // font-family: $font-realstonedemoversion;
                    // font-family: $font-remake3d;
                    // font-family: $font-remake;
                    // font-family: $font-richiebrusher;
                    // font-family: $font-risthiyabrushswash;
                    // font-family: $font-risthiyabrush;
                    // font-family: $font-romanticapersonaluse-8v2j;
                    // font-family: $font-sextonserif;
                    // font-family: $font-showetybrushslant;
                    // font-family: $font-showetybrush;
                    // font-family: $font-skillhelliwod;
                    // font-family: $font-slackerbrush;
                    // font-family: $font-slatterpersonaluse-8merz;
                    // font-family: $font-socialcrisis;
                    // font-family: $font-spetetrial;
                    // font-family: $font-standrew;
                    // font-family: $font-stonecollege1936;
                    // font-family: $font-strightbrush;
                    // font-family: $font-sunbrush;
                    // font-family: $font-tableshank;
                    // font-family: $font-thekillerwayfreepersonaluse;
                    // font-family: $font-thedolbakbrush;
                    // font-family: $font-themifybrushfont;
                    // font-family: $font-theorydisplayregularlgagd;
                    // font-family: $font-tonybhageslgzaw;
                    // font-family: $font-transinebrush;
                    // font-family: $font-tropicalsummerbrush;
                    // font-family: $font-urbancalligraphy;
                    // font-family: $font-urgentbrush;
                    // font-family: $font-valkyriebrushswash;
                    // font-family: $font-valkyriebrush;
                    // font-family: $font-vasttagbrush;
                    // font-family: $font-verticalbrushyfree;
                    // font-family: $font-watermark;
                    // font-family: $font-wiltonabrushunderlines;
                    // font-family: $font-wiltonabrush;
                    // font-family: $font-zaicalligraphyscripthandwritten;
                    // font-family: $font-zebrushfree;
                    // font-family: $font-aestheticviolet;
                    // font-family: $font-aestrajinggakvjve;
                    // font-family: $font-amanojakuzrqe3;
                    // font-family: $font-asphaltsdisplay;
                    // font-family: $font-autterademoxrng5;
                    // font-family: $font-auzherademo;
                    // font-family: $font-badlookingbrush;
                    // font-family: $font-balibrushdemo;
                    // font-family: $font-blackmelodypersonalusemevv;
                    // font-family: $font-brisketlgjdd;
                    // font-family: $font-brotherlandsignaturebold;
                    // font-family: $font-brusheffectotf;
                    // font-family: $font-brushruksaksvg;
                    // font-family: $font-brushsinergidemo;
                    // font-family: $font-brushbress1;
                    // font-family: $font-brushwell;
                    // font-family: $font-calligraphy;
                    // font-family: $font-castlerocksbolditalicpersonaluse;
                    // font-family: $font-castlerocksboldpersonaluse;
                    // font-family: $font-castlerocksitalicpersonaluse;
                    // font-family: $font-castlerocksregularpersonaluse;
                    // font-family: $font-desirasnoncommercial;
                    // font-family: $font-deviantlybrush;
                    // font-family: $font-dieinafirepgitalic;
                    // font-family: $font-dieinafirepg;
                    // font-family: $font-dkattentionseeker;
                    // font-family: $font-domillionbrushfree;
                    // font-family: $font-freakartpersonalusebold-2oyal;
                    // font-family: $font-georgiabrush;
                    // font-family: $font-grustybrushespersonaluseregular;
                    // font-family: $font-grustybrushespersonaluseregularpgo8o;
                    // font-family: $font-gsclarettabrush;
                    // font-family: $font-harukazesolidl3zgw;
                    // font-family: $font-heathnottedfont;
                    // font-family: $font-highfighteream38;
                    // font-family: $font-hoganbrush;
                    // font-family: $font-hotvarsityteamdemo;
                    // font-family: $font-houstondoubledemo;
                    // font-family: $font-houstonoutlinedemo;
                    // font-family: $font-houstonregulardemo;
                    // font-family: $font-houstonshadowdemo;
                    // font-family: $font-ilmuscriptvg2e6;
                    // font-family: $font-inkbrushdemotextured;
                    // font-family: $font-irrigatescriptzvmom;
                    // font-family: $font-juiceboxscriptpersonaluseregularlx93q;
                    // font-family: $font-killthenoise;
                    // font-family: $font-kulynopersonaluse;
                    // font-family: $font-lamaisonbrushdemoversion;
                    // font-family: $font-linesq3d;
                    // font-family: $font-louisfelligrilight;
                    // font-family: $font-meekerenregular-9ylj2;
                    // font-family: $font-mostlybrightpersonalusewywoz;
                    // font-family: $font-mufanpfsowkgx;
                    // font-family: $font-nastyanar9g;
                    // font-family: $font-nervebrushregular;
                    // font-family: $font-onebrush;
                    // font-family: $font-osakex3oqj;
                    // font-family: $font-pacuay-0vg0g;
                    // font-family: $font-palmiastartosyqpwl;
                    // font-family: $font-perfectbomberfreepersonalusescpvqmd;
                    // font-family: $font-qillseyeinsteineapw9;
                    // font-family: $font-quikersyzxwl;
                    // font-family: $font-rainlyregularovl7o;
                    // font-family: $font-religathdemo;
                    // font-family: $font-ryukosei;
                    // font-family: $font-sanstuybrush;
                    // font-family: $font-savagebrush;
                    // font-family: $font-shadowbrush;
                    // font-family: $font-shinypaintzpwez;
                    // font-family: $font-sicupak;
                    // font-family: $font-sketchzone;
                    // font-family: $font-sunshine-7b4gv;
                    // font-family: $font-theorydisplayregular-9yeyj;
                    // font-family: $font-tokiyobrush;
                    // font-family: $font-whisperscalligraphydemoessentialbold;
                    // font-family: $font-winterbrush-demo;
                    // font-family: $font-wondertisbrush;
                    // font-family: $font-wondeurfreeitalic-3zyyy;
                    // font-family: $font-wondeurfreeregularzvvvl;
                    // font-family: $font-youthbrushdaylight;

                    &::selection {
                        color: $---selection-color;
                        background: $---selection-bg;
                    }
                }
            }
        }

        @media screen and (max-width: 860px) {
            & .heading {
                font-size: 4rem;
            }

            & .img-div {
                & img {
                    width: 400px;
                }
            }
        }

        @media screen and (max-width: 700px) {
            & .heading {
                font-size: 4rem;
            }

            & .img-div {
                & img {
                    width: 400px;
                }
            }
        }

        @media screen and (max-width: 560px) {
            & .heading {
                font-size: 3.6rem;
            }

            & .img-div {
                & img {
                    width: 320px;
                }
            }
        }

        @media screen and (max-width: 460px) {
            & .heading {
                font-size: 3rem;
            }

            & p {
                font-size: 1.2rem;
            }

            & .img-div {
                & img {
                    width: 250px;
                }
            }
        }
    }
}