.popup-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 50;
    overflow-y: hidden;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .overlay {
        z-index: 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow-y: hidden;
        background-color: #f1e5d9;
        opacity: 0.92;
        background: radial-gradient(circle, transparent 20%, #f1e5d9 20%, #f1e5d9 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #f1e5d9 20%, #f1e5d9 80%, transparent 80%, transparent) 10px 10px, linear-gradient(#ebac93 0.8px, transparent 0.8px) 0 -0.4px, linear-gradient(90deg, #ebac93 0.8px, #f1e5d9 0.8px) -0.4px 0;
        background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px;

        animation-name: BGBlur;
        animation-duration: .4s;
        animation-timing-function: ease-in-out;

        @keyframes BGBlur {
            from {
                opacity: 0;
            }

            to {
                opacity: 0.9;
            }
        }
    }

    & .popup-container {
        z-index: 1;
        position: fixed;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        border-radius: 20px;
        padding: 20px 0 30px 0;
        width: 80%;
        height: fit-content;
        max-width: 400px;
        max-height: 60%;
        display: flex;
        align-items: center;
        flex-direction: column;
        box-shadow: 1px 2px 10px rgba(50, 33, 25, 0.354);
        border-right: 1px solid rgba(144, 112, 92, 0.42);
        border-bottom: 1px solid rgba(144, 112, 92, 0.42);
        background: rgb(215, 200, 181);

        animation-name: PopupPop;
        animation-duration: .4s;
        // animation-delay: .2s;
        // animation-timing-function: ease-in-out;
        animation-timing-function: cubic-bezier(0.53, -0.2, 0.12, 1.63);

        @keyframes PopupPop {
            from {
                scale: 0;
            }

            to {
                scale: 1;
            }
        }

        & .content {
            width: 100%;
            padding: 0 10px 0 20px;
            overflow-y: scroll;
            overflow-x: hidden;

            &::-webkit-scrollbar {
                width: 5px;
                height: 5px;
                background: linear-gradient(rgba(2, 0, 36, 0) 0%, rgba(144, 80, 67, 0.7027027027027026) 20%, rgba(144, 80, 67, 1) 50%, rgba(144, 80, 67, 0.6972972972972973) 80%, rgba(0, 212, 255, 0) 100%);
                background: transparent;
            }

            &::-webkit-scrollbar-thumb {
                background: linear-gradient(rgba(2, 0, 36, 0) 20%, rgba(144, 80, 67, 0.7027027027027026) 40%, rgba(144, 80, 67, 1) 50%, rgba(144, 80, 67, 0.6972972972972973) 60%, rgba(0, 212, 255, 0) 80%);
                // border-top: solid 10px tomato;
                // border-bottom: solid 10px tomato;
            }

            & p {
                font-size: 18px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                text-align: center;
                // font-family: 'Finlandica';
                font-family: 'Lekton';
                // font-family: 'Martian Mono';
                // font-family: 'Orbit';
                // font-family: 'Andika', sans-serif;
                // font-family: 'Bellefair', serif;
                // font-family: 'Capriola', sans-serif;
                // font-family: 'GFS Neohellenic', sans-serif;
            }


            & a {
                // font-family: 'Finlandica';
                font-family: 'Lekton';
                // font-family: 'Martian Mono';
                // font-family: 'Orbit';
                // font-family: 'Andika', sans-serif;
                // font-family: 'Bellefair', serif;
                // font-family: 'Capriola', sans-serif;
                // font-family: 'GFS Neohellenic', sans-serif;
                font-weight: 600;
                color: rgb(255, 50, 50);
                text-decoration: none;
            }
        }

        & h1 {
            font-size: 30px;
            // font-family: 'Finlandica';
            // font-family: 'Lekton';
            // font-family: 'Martian Mono';
            // font-family: 'Orbit';
            // font-family: 'Andika', sans-serif;
            // font-family: 'Bellefair', serif;
            // font-family: 'Capriola', sans-serif;
            font-family: 'GFS Neohellenic', sans-serif;
            font-weight: bold;
            text-align: center;
            margin: 5px;
            color: #322622;
        }

        & button {
            position: absolute;
            bottom: -25px;
            margin-right: -20px;
            margin-top: -10px;
            box-shadow: 2px 2px 10px rgba(144, 83, 83, 0.292);
            border: none;
            border-right: 1px solid rgba(123, 35, 35, 0.445);
            border-bottom: 1px solid rgba(123, 35, 35, 0.445);
            background: rgb(242, 240, 239);
            height: 50px;
            width: 50px;
            border-radius: 100px;
            cursor: pointer;
            transition: 200ms;
            display: flex;
            justify-content: center;
            align-items: center;

            animation-name: BtnPop;
            animation-duration: 1s;
            // animation-timing-function: ease-in-out;
            animation-timing-function: cubic-bezier(0.92,-0.04, 0.12, 1.63);

            @keyframes BtnPop {
                from {
                    scale: 0;
                }

                to {
                    scale: 1;
                }
            }

            & .label {
                width: 30px;
                height: 30px;
                color: red;
            }

            &:hover {
                scale: 1.1;
            }

            &:active {
                scale: 0.9;
            }
        }
    }
}