@font-face {
    font-family: 'AmanojakuZrqe3';
    src: url('/Amanojaku-zrqe3_otf.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RainlyRegularOVl7O';
    src: url('/RainlyRegular-OVl7O_otf.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

$font-amanojakuzrqe3: 'AmanojakuZrqe3', sans-serif;
$font-rainlyregularovl7o: 'RainlyRegularOVl7O', sans-serif;