$---selection-color: #DE3614;
$---selection-bg: #fff;

$---accent0: #DE3614;

$---accent1: #A64B37;

$---accent2: #D9C8A9;

$---accent3: #2a2727;

$---accent4: #403D3C;

$---accent5: #BFB2AA;

$---accent6: #88807e;